pgAndNN/1. Check Access.json
{"createdAt":"2025-06-08T07:42:21.396Z","updatedAt":"2025-06-11T16:35:22.160Z","id":"aNmP1HlHEmA1QC2W","name":"1. Check Access","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"wheel/check","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"b98da1ce-a167-47ba-880c-ca3db31410fe","name":"wheel/check","webhookId":"f6d59f42-42c2-4884-a198-cfff01474c14"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": true,\n  \"result\":{\n    \"access\": \"{{ $('Get Requests').first().json.isEmpty() ? 'form' : ( $('Get Requests').first().json.status === 'new' ? 'wheel' : 'close' ) }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[440,0],"id":"c6c25155-1f26-422a-841e-6a8afccad40a","name":"Respond to Webhook"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"wheel_requests","mode":"list","cachedResultName":"wheel_requests"},"where":{"values":[{"column":"user_id","value":"={{ $json.body.user_data.id }}"},{"column":"status","condition":"!=","value":"done"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[220,0],"id":"3635432b-e2c9-4fe2-b2e0-5166824fa13f","name":"Get Requests","alwaysOutputData":true,"credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}}],"connections":{"wheel/check":{"main":[[{"node":"Get Requests","type":"main","index":0}]]},"Get Requests":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"wheel/check":[{"json":{"headers":{"host":"api.bmulti.store","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36","content-length":"248","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9,ru;q=0.8,cs;q=0.7","content-type":"application/json","origin":"http://127.0.0.1:5500","priority":"u=1, i","referer":"http://127.0.0.1:5500/","sec-ch-ua":"\"Google Chrome\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"193.179.119.213","x-forwarded-host":"api.bmulti.store","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"f24930aa09da","x-real-ip":"193.179.119.213"},"params":{},"query":{},"body":{"user_data":{"allows_write_to_pm":true,"id":641638479,"first_name":"Андрей","last_name":"| Технарь","photo_url":"https://t.me/i/userpic/320/45Apm9ckV6YyiqwwFKfZM7IOhXip9VeWopQ4yQHkU_4.svg","username":"ma_andrey","language_code":"ru"}},"webhookUrl":"https://api.bmulti.store/webhook/wheel/check","executionMode":"production"}}]},"versionId":"6ac8c96e-b079-4420-8ee4-43823a84abda","triggerCount":1,"shared":[{"createdAt":"2025-06-08T07:42:21.396Z","updatedAt":"2025-06-08T07:42:21.396Z","role":"workflow:owner","workflowId":"aNmP1HlHEmA1QC2W","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}