pgAndNN/2. Send Form & Create Request.json
{"createdAt":"2025-06-08T07:23:30.248Z","updatedAt":"2025-06-26T17:17:06.472Z","id":"vAKtwGwkFEq4MXK7","name":"2. Send Form & Create Request","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"/wheel/send_request","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-200,0],"id":"e7c8475e-804d-4134-8f3a-76d42c61ce48","name":"/wheel/send_request","webhookId":"fed8dbb4-6bbd-49f7-8764-2d599b865855"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"status\": true\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1340,20],"id":"e5874c3e-3a86-423b-8fcb-e87240c270ae","name":"Respond to Webhook"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[420,20],"id":"28c1ff6f-22e1-4899-a9c5-8c1ee3e5d4d5","name":"Merge"},{"parameters":{"method":"POST","url":"https://pys.bmulti.store/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,-80],"id":"a79a1d17-5b14-462b-b007-0bedeee99b9d","name":"Check review"},{"parameters":{"method":"POST","url":"https://pys.bmulti.store/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1880,160],"id":"52a1deae-fb53-4a9b-b7c4-79b525952e10","name":"Check purchase"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"object\": \"review\",\n  \"id\": \"{{ $json.data.id }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,-100],"id":"266c450c-9a6c-42e6-9c4d-074848f65fb2","name":"Set review"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"object\": \"purchase\",\n  \"id\": \"{{ $json.data.id }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,120],"id":"466bc9d1-cc89-4a80-a981-14ef8ab12d68","name":"Set purchase"},{"parameters":{"jsCode":"const inputData = $input.all();\nconst result = {};\n\ninputData.forEach(item => {\n  const data = item.json;\n  if (data.object && data.id) {\n    result[data.object] = data.id;\n  }\n});\n\nreturn [{ json: result }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,20],"id":"76695aa1-f244-4414-a401-8fd97fbc6831","name":"Code","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"12165ebe-f8e6-442d-91b9-1f21c1afb38e","name":"user_data","value":"={{ $('/wheel/send_request').first().json.body.user_data }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,20],"id":"a88c3c80-e916-4981-80c9-512d8d78fa04","name":"Get User Data"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"wheel_requests","mode":"list","cachedResultName":"wheel_requests"},"columns":{"mappingMode":"defineBelow","value":{"user_ip":"={{ $('/wheel/send_request').first().json.headers['x-real-ip'] }}","user_id":"={{ $json.user_data.id }}","unic_review":"={{ $('Code').first().json.review === 'new' }}","unic_purchase":"={{ $('Code').first().json.purchase === 'new' }}","marketplace":"={{ $('/wheel/send_request').first().json.body.marketplace }}","review_url":"=https://directus.bmulti.store/assets/{{ $('Code').first().json.review }}","purchase_url":"=https://directus.bmulti.store/assets/{{ $('Code').first().json.purchase }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"user_ip","displayName":"user_ip","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"unic_review","displayName":"unic_review","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"unic_purchase","displayName":"unic_purchase","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"prize","displayName":"prize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"marketplace","displayName":"marketplace","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_phone","displayName":"user_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"review_url","displayName":"review_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"purchase_url","displayName":"purchase_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[940,20],"id":"02a45b46-24a8-46e7-9b65-0c3fd95b0666","name":"Insert Record","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"method":"POST","url":"https://chatter.salebot.pro/api/98b831c0d47024a7710d81299780abc6/tg_callback","sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"wheel_issued"},{"name":"user_id","value":"={{ $('Get User Data').first().json.user_data.id }}"},{"name":"group_id","value":"care_groupbot"},{"name":"n_mp","value":"={{ $('Insert Record').first().json.marketplace }}"},{"name":"n_review_link","value":"={{ $('Insert Record').first().json.review_url }}"},{"name":"n_purchase_link","value":"={{ $('Insert Record').first().json.purchase_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,20],"id":"4dcf366c-c464-4c84-b10c-08091721d808","name":"CallBack to SaleBot"},{"parameters":{"method":"POST","url":"https://directus.bmulti.store/files/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"folder","value":"9a2fe5a8-eaca-43d4-800d-02bc20a82f93"},{"name":"title","value":"=purchase_{{ $now.format('ddMMyyyyHHmmSSS') }}"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"purchase"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,120],"id":"3d2fe485-a6e7-43f3-9084-45b1273385ea","name":"Save File S","retryOnFail":true,"waitBetweenTries":1000,"credentials":{"httpHeaderAuth":{"id":"yYJVYmuqAnjKRAuX","name":"Directus"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://directus.bmulti.store/files/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"folder","value":"9a2fe5a8-eaca-43d4-800d-02bc20a82f93"},{"name":"title","value":"=review_{{ $now.format('ddMMyyyyHHmmSSS') }}"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"review"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,-100],"id":"8648bfc3-fbca-4f61-bb0a-fc0ff8be60f0","name":"Save Review","retryOnFail":true,"waitBetweenTries":1000,"credentials":{"httpHeaderAuth":{"id":"yYJVYmuqAnjKRAuX","name":"Directus"}},"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $('Insert Record').first().json.review_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,-80],"id":"f9ad5d33-754d-4674-b2c6-51a291948a49","name":"Get Image Review","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"url":"={{ $('Insert Record').first().json.purchase_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,160],"id":"6969d889-5f09-4b7e-9312-cc93ad3aca53","name":"Get Image Purchase","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"object\": \"review\",\n  \"status\": \"{{ $json.result }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,-80],"id":"57128fff-f385-4670-9b09-297ef44fa4df","name":"Set review1"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"object\": \"purchase\",\n  \"status\": \"{{ $json.result }}\"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,160],"id":"2e15c781-963b-4c6e-9dc3-f9bec692ade4","name":"Set purchase1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2300,40],"id":"be44a9cd-6369-467a-a813-af0dee88f1e2","name":"Merge1"},{"parameters":{"jsCode":"const inputData = $input.all();\nconst result = {};\n\ninputData.forEach(item => {\n  const data = item.json;\n  if (data.object && data.status) {\n    result[data.object] = data.status;\n  }\n});\n\nreturn [{ json: result }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2460,40],"id":"0c50a2a7-886c-4d2c-a280-1f4ea6214102","name":"Code1","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"wheel_requests","mode":"list","cachedResultName":"wheel_requests"},"columns":{"mappingMode":"defineBelow","value":{"unic_review":"={{ $('Code1').first().json.review === 'new' }}","unic_purchase":"={{ $('Code1').first().json.purchase === 'new' }}","id":"={{ $('Insert Record').first().json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"user_ip","displayName":"user_ip","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"unic_review","displayName":"unic_review","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"unic_purchase","displayName":"unic_purchase","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"prize","displayName":"prize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"marketplace","displayName":"marketplace","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"user_phone","displayName":"user_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"review_url","displayName":"review_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"purchase_url","displayName":"purchase_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2640,40],"id":"28aca141-153f-4c11-9e6b-273b9700a726","name":"Update Record","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}}],"connections":{"/wheel/send_request":{"main":[[{"node":"Save Review","type":"main","index":0},{"node":"Save File S","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code","type":"main","index":0}]]},"Check review":{"main":[[{"node":"Set review1","type":"main","index":0}]]},"Check purchase":{"main":[[{"node":"Set purchase1","type":"main","index":0}]]},"Set review":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Set purchase":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code":{"main":[[{"node":"Get User Data","type":"main","index":0}]]},"Get User Data":{"main":[[{"node":"Insert Record","type":"main","index":0}]]},"Insert Record":{"main":[[{"node":"CallBack to SaleBot","type":"main","index":0}]]},"CallBack to SaleBot":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Save Review":{"main":[[{"node":"Set review","type":"main","index":0}]]},"Save File S":{"main":[[{"node":"Set purchase","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Get Image Review","type":"main","index":0},{"node":"Get Image Purchase","type":"main","index":0}]]},"Get Image Review":{"main":[[{"node":"Check review","type":"main","index":0}]]},"Get Image Purchase":{"main":[[{"node":"Check purchase","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Update Record","type":"main","index":0}]]},"Set purchase1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Set review1":{"main":[[{"node":"Merge1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"/wheel/send_request":[{"json":{"headers":{"host":"api.bmulti.store","user-agent":"Mozilla/5.0 (Linux; Android 14; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.7151.115 Mobile Safari/537.36 Telegram-Android/11.12.0 (Realme RMX3636; Android 14; SDK 34; AVERAGE)","content-length":"560798","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"ru,ru-RU;q=0.9,en-US;q=0.8,en;q=0.7","content-type":"multipart/form-data; boundary=----WebKitFormBoundarykwgNGAU8pi3UKske","origin":"https://wf.bmulti.store","priority":"u=1, i","referer":"https://wf.bmulti.store/","sec-ch-ua":"\"Android WebView\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","sec-ch-ua-mobile":"?1","sec-ch-ua-platform":"\"Android\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-site","x-forwarded-for":"77.220.50.244","x-forwarded-host":"api.bmulti.store","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"746e198f23f3","x-real-ip":"77.220.50.244","x-requested-with":"org.telegram.messenger"},"params":{},"query":{},"body":{"marketplace":"OZON","user_data":"{\"id\":1435169769,\"first_name\":\"Татьяна\",\"last_name\":\"Алексеева\",\"username\":\"tanechkaalekseeva\",\"language_code\":\"ru\",\"allows_write_to_pm\":true,\"photo_url\":\"https://t.me/i/userpic/320/-dF3neX5cU5m-uXS4OyEF4xX1QyG-KBZnIICqy9v1C4.svg\"}"},"webhookUrl":"https://api.bmulti.store/webhook/wheel/send_request","executionMode":"production"}}]},"versionId":"68e3ce51-739c-4d4e-a4e1-8918eea53022","triggerCount":1,"shared":[{"createdAt":"2025-06-08T07:23:30.248Z","updatedAt":"2025-06-08T07:23:30.248Z","role":"workflow:owner","workflowId":"vAKtwGwkFEq4MXK7","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}