pgAndNN/3. Send Prize.json
{"createdAt":"2025-06-08T09:48:42.288Z","updatedAt":"2025-06-18T19:13:00.733Z","id":"N6Uwc91HX94uLgQe","name":"3. Send Prize","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"wheel/send_prize","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-20,0],"id":"055f04de-48d6-48b2-9bbe-404a87b8f9d1","name":"wheel/send_prize","webhookId":"2e6493e4-b9e3-44f6-80ce-af5cc8c8f042"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"status\": true\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1220,0],"id":"547f38cc-bb85-45a7-bf6a-be8530e14789","name":"Respond to Webhook"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"wheel_requests","mode":"list","cachedResultName":"wheel_requests"},"limit":1,"where":{"values":[{"column":"user_id","value":"={{ $json.body.user_data.id }}"},{"column":"status","value":"new"}]},"sort":{"values":[{"column":"created_at","direction":"DESC"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[180,0],"id":"c4699caa-e072-4726-8581-0b3c09d665a1","name":"Get Last Request","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"wheel_requests","mode":"list","cachedResultName":"wheel_requests"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","status":"in_work","prize":"={{ $('wheel/send_prize').first().json.body.prize }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"user_id","displayName":"user_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"user_ip","displayName":"user_ip","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"user_phone","displayName":"user_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"unic_review","displayName":"unic_review","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"unic_purchase","displayName":"unic_purchase","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prize","displayName":"prize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[380,0],"id":"767bee62-6889-492a-a4e9-4fcd3f808279","name":"Update Request","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"method":"POST","url":"https://chatter.salebot.pro/api/98b831c0d47024a7710d81299780abc6/tg_callback","sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"wheel_completed"},{"name":"user_id","value":"={{ $('wheel/send_prize').first().json.body.user_data.id }}"},{"name":"group_id","value":"care_groupbot"},{"name":"n_prize","value":"={{ $('wheel/send_prize').first().json.body.prize }}"},{"name":"n_db_id","value":"={{ $('Get Last Request').first().json.id }}"},{"name":"n_mp","value":"={{ $('Get Last Request').first().json.marketplace }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,0],"id":"b3252f58-6297-4106-8de9-c681af836f35","name":"CallBack to SaleBot"},{"parameters":{"amount":"={{ $runIndex * 30 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1040,80],"id":"00031049-0979-4892-9d00-f26481e12176","name":"Wait","webhookId":"854a8cc2-c8df-4fca-8441-eb3400710e6f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d655d649-67dd-4a67-88e0-ae8fa1492286","leftValue":"={{ $json.data }}","rightValue":"ok","operator":{"type":"string","operation":"equals"}},{"id":"8294d8df-3c2d-4ab2-9ceb-69695f12dfe6","leftValue":"={{ $runIndex }}","rightValue":5,"operator":{"type":"number","operation":"gt"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[820,0],"id":"310ae792-6cae-41f5-b086-c78076924dc9","name":"data is ok or runIndex limited"}],"connections":{"wheel/send_prize":{"main":[[{"node":"Get Last Request","type":"main","index":0}]]},"Get Last Request":{"main":[[{"node":"Update Request","type":"main","index":0}]]},"Update Request":{"main":[[{"node":"CallBack to SaleBot","type":"main","index":0}]]},"CallBack to SaleBot":{"main":[[{"node":"data is ok or runIndex limited","type":"main","index":0}]]},"Wait":{"main":[[{"node":"data is ok or runIndex limited","type":"main","index":0}]]},"data is ok or runIndex limited":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"wheel/send_prize":[{"json":{"headers":{"host":"api.bmulti.store","user-agent":"Mozilla/5.0 (Linux; Android 15; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.7151.61 Mobile Safari/537.36 Telegram-Android/11.12.0 (Samsung SM-S918B; Android 15; SDK 35; HIGH)","content-length":"236","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"ru,ru-RU;q=0.9,en-US;q=0.8,en;q=0.7","content-type":"application/json","origin":"https://wf.bmulti.store","priority":"u=1, i","referer":"https://wf.bmulti.store/","sec-ch-ua":"\"Android WebView\";v=\"137\", \"Chromium\";v=\"137\", \"Not/A)Brand\";v=\"24\"","sec-ch-ua-mobile":"?1","sec-ch-ua-platform":"\"Android\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-site","x-forwarded-for":"198.140.141.39","x-forwarded-host":"api.bmulti.store","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"746e198f23f3","x-real-ip":"198.140.141.39","x-requested-with":"org.telegram.messenger"},"params":{},"query":{},"body":{"user_data":{"id":120145748,"first_name":"3_","last_name":"ton_travel","language_code":"ru","allows_write_to_pm":true,"photo_url":"https://t.me/i/userpic/320/O7KexcWJXDcVGskCtfHBYEOAc68n5o1uE8kt-FNqZSU.svg"},"prize":"200 рублей"},"webhookUrl":"https://api.bmulti.store/webhook/wheel/send_prize","executionMode":"production"}}]},"versionId":"901063d8-c871-4e3a-8f13-3561eb3fcfc2","triggerCount":1,"shared":[{"createdAt":"2025-06-08T09:48:42.288Z","updatedAt":"2025-06-08T09:48:42.288Z","role":"workflow:owner","workflowId":"N6Uwc91HX94uLgQe","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}