pgAndNN/4. Send Order.json
{"createdAt":"2025-06-08T14:12:10.900Z","updatedAt":"2025-06-18T19:10:35.980Z","id":"msCXrJw0W8vPwgLB","name":"4. Send Order","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"wheel/send_order","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-160,-20],"id":"b3d8d03f-4f5c-4354-9f02-33aa0c908a85","name":"Webhook","webhookId":"9158670e-ed09-48cb-8600-7decbc461e18"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"wheel_requests","mode":"list","cachedResultName":"wheel_requests"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.n_bd_id }}","user_phone":"={{ $json.details_formatted }}","status":"check"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"user_ip","displayName":"user_ip","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"unic_review","displayName":"unic_review","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"unic_purchase","displayName":"unic_purchase","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"prize","displayName":"prize","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"marketplace","displayName":"marketplace","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"user_phone","displayName":"user_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"review_url","displayName":"review_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"purchase_url","displayName":"purchase_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,-20],"id":"81a1c8cb-67a4-4fad-9b65-8d4beb19b7ba","name":"Upd & Get Order","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot5847133681:AAEcIS2Xn-w2yxQ_Z9SFFiaxE6kSYe9ktLk/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\":\"-1001384175268\",\n  \"text\":\"📝 <b>Новый отзыв</b>\\n\\n👤 Клиент <a href=\\\"tg://user?id={{ $('Webhook').first().json.body.user_id }}\\\">{{ $('Webhook').first().json.body.full_name }}</a>\\n🛍 Маркетплейс: {{ $('Upd & Get Order').first().json.marketplace }}\\n\\n🔗 <b><a href=\\\"{{ $('Upd & Get Order').first().json.review_url }}\\\">Фото отзыва</a></b> ({{ $('Upd & Get Order').first().json.unic_review ? '✅' : '❌' }})\\n🔗 <b><a href=\\\"{{ $('Upd & Get Order').first().json.purchase_url }}\\\">Фото купона</a></b> ({{ $('Upd & Get Order').first().json.unic_purchase ? '✅' : '❌' }})\\n\\n📲 <b>Реквизиты:</b> {{ $('Upd & Get Order').first().json.user_phone }} ({{ $('Check Phone').all().length > 1 ? '❌' : '✅' }})\\n📲 <b>IP:</b> 168.*.*.* ({{ $('Check IP').all().length > 1 ? '❌' : '✅' }})\",\n  \"parse_mode\":\"HTML\",\n  \"reply_markup\":{\n    \"inline_keyboard\": [\n      [\n        {\n          \"text\": \"💬 Открыть диалог\",\n          \"url\": \"https://salebot.pro/projects/192012/clients/{{ $('Webhook').first().json.body.salebot_id }}\"\n        }\n      ]\n    ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-20],"id":"f8018f34-61c1-4ea4-992e-22c292c88c35","name":"Send TG Notif"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"orders","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[840,-20],"id":"b55c03a4-80c2-4d6a-851b-59a3477c868b","name":"Aggregate"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"wheel_requests","mode":"list","cachedResultName":"wheel_requests"},"returnAll":true,"where":{"values":[{"column":"user_ip","value":"={{ $json.user_ip }}"}]},"combineConditions":"OR","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[440,-120],"id":"5ec2a5d6-6d70-4704-948d-2fce58882293","name":"Check IP","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"wheel_requests","mode":"list","cachedResultName":"wheel_requests"},"returnAll":true,"where":{"values":[{"column":"user_phone","value":"={{ $json.user_phone }}"}]},"combineConditions":"OR","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[440,80],"id":"e1b82d2e-9c64-45db-af45-ac29226e2384","name":"Check Phone","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[660,-20],"id":"3e60b98c-6fd2-4692-b5de-c5ae04fafc78","name":"Merge"},{"parameters":{"jsCode":"// Функция для стандартизации номера телефона\nfunction formatPhoneNumber(phone) {\n  if (!phone) return null;\n  \n  // Преобразуем в строку и удаляем все символы кроме цифр\n  let cleanPhone = String(phone).replace(/[^\\d]/g, '');\n  \n  // Если номер пустой после очистки\n  if (!cleanPhone) return null;\n  \n  // Обрабатываем различные форматы российских номеров\n  if (cleanPhone.length === 10) {\n    // Номер без кода страны (9123456789) - добавляем код России\n    cleanPhone = '7' + cleanPhone;\n  } else if (cleanPhone.length === 11) {\n    // Номер с кодом страны\n    if (cleanPhone.startsWith('8')) {\n      // Заменяем 8 на 7 (81234567890 -> 71234567890)\n      cleanPhone = '7' + cleanPhone.substring(1);\n    } else if (cleanPhone.startsWith('7')) {\n      // Уже правильный формат российского номера (71234567890)\n      // Ничего не делаем\n    } else {\n      // 11-значный номер, но не российский - возвращаем как есть\n      return cleanPhone;\n    }\n  } else if (cleanPhone.length === 12 && cleanPhone.startsWith('7')) {\n    // Возможно лишняя цифра в начале, берем последние 11\n    cleanPhone = cleanPhone.substring(1);\n  } else {\n    // Любая другая длина - возвращаем очищенные цифры как есть\n    return cleanPhone;\n  }\n  \n  // Финальная проверка для российских номеров: должен быть 11 цифр и начинаться с 7\n  if (cleanPhone.length === 11 && cleanPhone.startsWith('7')) {\n    return cleanPhone;\n  }\n  \n  // Если не прошел проверку на российский номер, возвращаем как есть\n  return cleanPhone;\n}\n\nconst inputItem = $input.item.json.body;\nconst originalDetails = inputItem.details;\n\nconst formattedPhone = formatPhoneNumber(originalDetails);\n\n// Возвращаем исходный item с добавленным полем\nreturn {\n  ...inputItem,\n  details_formatted: formattedPhone\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[40,-20],"id":"381b8544-1df3-4370-8c11-3c3e9f7e8efc","name":"Request Data"}],"connections":{"Webhook":{"main":[[{"node":"Request Data","type":"main","index":0}]]},"Upd & Get Order":{"main":[[{"node":"Check IP","type":"main","index":0},{"node":"Check Phone","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Send TG Notif","type":"main","index":0}]]},"Check IP":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Check Phone":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Send TG Notif":{"main":[[]]},"Request Data":{"main":[[{"node":"Upd & Get Order","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"api.bmulti.store","user-agent":"python-requests/2.31.0","content-length":"163","accept":"*/*","accept-encoding":"gzip, deflate","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"158.160.42.134","x-forwarded-host":"api.bmulti.store","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"746e198f23f3","x-real-ip":"158.160.42.134"},"params":{},"query":{},"body":{"n_bd_id":"19","user_id":"641638479","full_name":"Андрей | Технарь","salebot_id":"741951271","details":"+79128376363"},"webhookUrl":"https://api.bmulti.store/webhook/wheel/send_order","executionMode":"production"}}]},"versionId":"5d6ec1e7-974a-4daf-a2dd-c45b98ea7f0c","triggerCount":1,"shared":[{"createdAt":"2025-06-08T14:12:10.900Z","updatedAt":"2025-06-08T14:12:10.900Z","role":"workflow:owner","workflowId":"msCXrJw0W8vPwgLB","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}