pgAndNN/auth.json
{"createdAt":"2025-03-26T15:28:46.498Z","updatedAt":"2025-10-04T14:35:45.533Z","id":"kCzUYK829BOkp0Wz","name":"POST /user/auth","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"user/auth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-160,-352],"id":"7cdefc89-f91c-4990-8b3e-85db28e26b60","name":"Get Data","webhookId":"5db892b6-c3a5-42df-83c2-a5ad947225e3"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": true,\n  \"user\": {{ $('Check & Create User').first().json.toJsonString() }},\n  \"JWT_token\": {{ $('JWT').first().json.token.toJsonString() }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1488,-128],"id":"994464e2-7c2d-46ff-8fb6-90ee891a94d0","name":"Respond"},{"parameters":{"jsCode":"const CryptoJS = require('crypto-js');\n\nconst initData = $('Get Data').first().json.body.initData;\nconst botToken = '7804217269:AAHKP7YF8tQs-UP3sK3Ku0kZ5Qo_EA7827Q';\n\nfunction validateTelegramWebAppData(initData, botToken) {\n  if (initData == null){\n      return {\n        isValid: false\n    };\n  }\n  \n  const params = {};\n  const pairs = initData.split('&');\n  \n  for (const pair of pairs) {\n    const [key, value] = pair.split('=');\n    if (key && value !== undefined) {\n      params[decodeURIComponent(key)] = decodeURIComponent(value);\n    }\n  }\n  \n  const receivedHash = params.hash;\n  delete params.hash;\n  \n  const dataCheckString = Object.keys(params)\n    .sort()\n    .map(key => `${key}=${params[key]}`)\n    .join('\\n');\n  \n  const secretKey = CryptoJS.HmacSHA256(botToken, 'WebAppData');\n  const calculatedHash = CryptoJS.HmacSHA256(dataCheckString, secretKey).toString();\n  \n  const isValid = calculatedHash === receivedHash;\n  const authTime = parseInt(params.auth_date);\n  const isTimeValid = (Math.floor(Date.now() / 1000) - authTime) <= 86400;\n  \n  return {\n    isValid: isValid && isTimeValid,\n    data: params\n  };\n}\n\nconst result = validateTelegramWebAppData(initData, botToken);\n\nreturn [{ json: result }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,-80],"id":"6ed43985-a3c2-4a06-933a-68da968f4076","name":"TG Validation","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e43e7ab0-53c2-4389-a244-3cb066eff2d1","leftValue":"={{ $json.isValid }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,-80],"id":"04c7bf40-199d-43a2-956a-075faee97bb5","name":"TGV"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": false,\n  \"message\": \"Unauthorized\"\n}","options":{"responseCode":401}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[640,176],"id":"c92348c2-e935-49a5-ac70-4f5740b213aa","name":"Error 401"},{"parameters":{"content":"     Ошибка 401","height":192,"width":208,"color":3},"type":"n8n-nodes-base.stickyNote","position":[576,112],"typeVersion":1,"id":"55e2da9b-9192-4e02-8d34-cae951432636","name":"Sticky Note7"},{"parameters":{"content":"## Telegram валидация","height":456,"width":448,"color":6},"type":"n8n-nodes-base.stickyNote","position":[336,-144],"typeVersion":1,"id":"338e6e1a-0e4b-48d5-9866-7150910b2274","name":"Sticky Note3"},{"parameters":{"mode":"raw","jsonOutput":"={{ Object.assign({}, $json.data.user.parseJson(), {\"source\": $('Get Data').first()?.json?.body?.startApp } ) }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[864,-80],"id":"fa77970a-a27b-4813-a1fa-dc36590b491d","name":"User Payload"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c394a141-1b61-4a0e-ba63-8c991bef910e","leftValue":"={{ $json.headers[\"x-real-ip\"] }}","rightValue":"212.28.89.88","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"4a366d27-114a-4b33-be17-91b038dce729","leftValue":"={{ $json.headers.origin }}","rightValue":"localhost","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[48,-352],"id":"5748c668-9d34-4dbd-9935-191048e1fd60","name":"Local Env"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"isValid\": true,\n  \"data\": {\n    \"query_id\": \"AAFPoD4mAAAAAE-gPiYQ8BOs\",\n    \"user\": \"{\\\"id\\\":641638479,\\\"first_name\\\":\\\"Андрей\\\",\\\"last_name\\\":\\\"| Технарь\\\",\\\"username\\\":\\\"ma_andrey\\\",\\\"language_code\\\":\\\"ru\\\",\\\"is_premium\\\":true,\\\"allows_write_to_pm\\\":true,\\\"photo_url\\\":\\\"https:\\\\/\\\\/t.me\\\\/i\\\\/userpic\\\\/320\\\\/45Apm9ckV6YyiqwwFKfZM7IOhXip9VeWopQ4yQHkU_4.svg\\\"}\",\n    \"auth_date\": \"1752480835\",\n    \"signature\": \"wR4quTfeQoL4rKfOKWWRqXQRxK1Y6NWbriePCaE0ze10V7Q-h5sVYByiCGlhYFDpf5kHE18O9aMY1BW8i-j1BQ\"\n  }\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,-368],"id":"57ba790d-9059-4a25-8bb6-35d73385ee5d","name":"Set Test User"},{"parameters":{"content":"     Тестовое окружение","height":224,"width":496},"type":"n8n-nodes-base.stickyNote","position":[32,-432],"typeVersion":1,"id":"a982d7b6-c96e-4edf-a133-22a7464a0cdc","name":"Sticky Note2"},{"parameters":{"content":"     Ошибка 500","height":192,"width":208,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1424,112],"typeVersion":1,"id":"ad1dfc99-5492-40b3-9f99-6104dc73457a","name":"Sticky Note8"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": false,\n  \"message\": \"Произошла ошибка\"\n}","options":{"responseCode":500}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1472,176],"id":"8de64c2d-ee2d-4dde-a8f3-f06dfc74b2ad","name":"JWT Error 500"},{"parameters":{"content":"## Генерация JWT","height":464,"width":420,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1216,-160],"typeVersion":1,"id":"41809168-e120-411f-8c40-c43eaebba4ab","name":"Sticky Note4"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"user_id\": {{ $('Check & Create User').first().json.id }}\n}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[1264,-80],"id":"c29836e2-7f90-47e0-b035-cc9d79f84576","name":"JWT","credentials":{"jwtAuth":{"id":"1zfE1rfIcLyD0iKD","name":"JWT Auth"}},"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"yHvUSQRGtsM8TbHc","mode":"list","cachedResultUrl":"/workflow/yHvUSQRGtsM8TbHc","cachedResultName":"Check & Create User"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1024,-80],"id":"822e2976-3c94-4ff6-b724-aea3b62598e5","name":"Check & Create User","onError":"continueErrorOutput"}],"connections":{"Get Data":{"main":[[{"node":"Local Env","type":"main","index":0}]]},"TG Validation":{"main":[[{"node":"TGV","type":"main","index":0}],[{"node":"Error 401","type":"main","index":0}]]},"TGV":{"main":[[{"node":"User Payload","type":"main","index":0}],[{"node":"Error 401","type":"main","index":0}]]},"User Payload":{"main":[[{"node":"Check & Create User","type":"main","index":0}]]},"Local Env":{"main":[[{"node":"Set Test User","type":"main","index":0}],[{"node":"TG Validation","type":"main","index":0}]]},"Set Test User":{"main":[[{"node":"User Payload","type":"main","index":0}]]},"JWT":{"main":[[{"node":"Respond","type":"main","index":0}],[{"node":"JWT Error 500","type":"main","index":0}]]},"Check & Create User":{"main":[[{"node":"JWT","type":"main","index":0}],[{"node":"JWT Error 500","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Get Data":[{"json":{"headers":{"host":"api.bmulti.store","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko)","content-length":"684","accept":"application/json","accept-encoding":"gzip, deflate, br","accept-language":"ru","authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoyMywiaWF0IjoxNzU5NTg2OTcyfQ.7b8PlDKWJIHLl0R0wZMfcwadM0eo8bCZkMyPTXs0eGA","content-type":"application/json","origin":"https://ls.bmulti.store","referer":"https://ls.bmulti.store/","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-site","x-forwarded-for":"212.28.89.88","x-forwarded-host":"api.bmulti.store","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"3f1437b3e807","x-real-ip":"212.28.89.88"},"params":{},"query":{},"body":{"initData":"query_id=AAFPoD4mAAAAAE-gPiZpVZPd&user=%7B%22id%22%3A641638479%2C%22first_name%22%3A%22%D0%90%D0%BD%D0%B4%D1%80%D0%B5%D0%B9%22%2C%22last_name%22%3A%22%7C%20%D0%A2%D0%B5%D1%85%D0%BD%D0%B0%D1%80%D1%8C%22%2C%22username%22%3A%22ma_andrey%22%2C%22language_code%22%3A%22ru%22%2C%22is_premium%22%3Atrue%2C%22allows_write_to_pm%22%3Atrue%2C%22photo_url%22%3A%22https%3A%5C%2F%5C%2Ft.me%5C%2Fi%5C%2Fuserpic%5C%2F320%5C%2F45Apm9ckV6YyiqwwFKfZM7IOhXip9VeWopQ4yQHkU_4.svg%22%7D&auth_date=1759588164&signature=t2QaXG6bkoRds-U6itFwTR9vZDpDcckub9ifRuGQZrVTu2XmsPhW_TLyNir3kFklf5gfqp5RismsxTNHaHhpCQ&hash=3b9fe207e6ba4e6102737f44733d3e82d7085a513240f41443aaba9c08b112f1","startApp":null},"webhookUrl":"https://api.bmulti.store/webhook/user/auth","executionMode":"production"}}]},"versionId":"04a88a0e-c7db-49fa-9f3f-4ad005de7a78","triggerCount":1,"shared":[{"createdAt":"2025-03-26T15:28:46.498Z","updatedAt":"2025-03-26T15:28:46.498Z","role":"workflow:owner","workflowId":"kCzUYK829BOkp0Wz","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}