pgAndNN/balance.json
{"createdAt":"2025-10-02T22:29:06.809Z","updatedAt":"2025-10-02T22:30:21.897Z","id":"A2WXdfVX92RTJtQi","name":"GET /user/balance","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"/user/balance","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,-16],"id":"eb93a725-5998-45ce-a3a1-ca941261d801","name":"GET tasks","webhookId":"a8b8c4d4-b48c-42d4-a844-0d10a6b074eb"},{"parameters":{"operation":"executeQuery","query":"SELECT card_balance\nFROM users\nWHERE id = $1","options":{"queryReplacement":"={{ [ $json.payload.user_id ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[624,-32],"id":"b5918826-950c-4cb3-8e0e-4986400a0908","name":"Get Task List","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": true,\n  \"card_balance\": {{ $json.card_balance }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[800,-32],"id":"b8f64549-25e3-46e5-b9bd-cfbbc315b85b","name":"Respond"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": false,\n  \"message\": \"Пользователь не верефецирован системой\"\n}","options":{"responseCode":401}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[624,176],"id":"3b1e487c-da3a-436b-8208-912c42380ed5","name":"Error 404"},{"parameters":{"content":"     Ошибка 401","height":208,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[560,112],"typeVersion":1,"id":"84068bfe-a1d5-478b-a01e-fcef378c1a9a","name":"Sticky Note5"},{"parameters":{"operation":"verify","token":"={{ $json.headers.authorization.split(' ')[1] }}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[448,-16],"id":"964ccab3-aa83-42d9-b3ec-8dae50035c6d","name":"JWT","retryOnFail":false,"credentials":{"jwtAuth":{"id":"1zfE1rfIcLyD0iKD","name":"JWT Auth"}},"onError":"continueErrorOutput"}],"connections":{"GET tasks":{"main":[[{"node":"JWT","type":"main","index":0}]]},"Get Task List":{"main":[[{"node":"Respond","type":"main","index":0}]]},"JWT":{"main":[[{"node":"Get Task List","type":"main","index":0}],[{"node":"Error 404","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"GET tasks":[{"json":{"headers":{"host":"api.bmulti.store","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36","accept":"application/json","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9,ru;q=0.8,cs;q=0.7","authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjo3LCJpYXQiOjE3NTk0MjUxMjR9.nmiZzbKuLPsG2bE6M0rykKC9N4gDKp4UFfxwNOoIq5o","content-type":"application/json","if-none-match":"W/\"a2a-nrEn8H8ynGjyr/GjJdw5A1Rks2Y\"","origin":"http://localhost:3000","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"212.28.89.88","x-forwarded-host":"api.bmulti.store","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"3f1437b3e807","x-real-ip":"212.28.89.88"},"params":{},"query":{},"body":{},"webhookUrl":"https://api.bmulti.store/webhook/user/tasks","executionMode":"production"}}]},"versionId":"84b300a0-3635-4ad3-8876-87c991690b29","triggerCount":1,"shared":[{"createdAt":"2025-10-02T22:29:06.809Z","updatedAt":"2025-10-02T22:29:06.809Z","role":"workflow:owner","workflowId":"A2WXdfVX92RTJtQi","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}