pgAndNN/Check & Create User.json
{"createdAt":"2025-10-03T20:00:29.323Z","updatedAt":"2025-10-04T14:26:35.415Z","id":"yHvUSQRGtsM8TbHc","name":"Check & Create User","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"a6440d8e-999d-498d-b1c5-81d3d0779743","name":"Task"},{"parameters":{"httpMethod":"POST","path":"/user/reg","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-192],"id":"052aa794-99ca-4714-905a-9692d022c0a2","name":"Webhook","webhookId":"042a507d-2544-4b62-8c98-30c15e510398"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f5513742-b64d-4d13-9f5e-29b6f1f31e30","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,-96],"id":"a7b36c76-c77b-43c3-8b0d-3a323d73ff00","name":"Exists?"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"limit":1,"where":{"values":[{"column":"tg_id","value":"={{ $('User Payload').first().json.user.id }}"}]},"options":{"outputColumns":["id","first_name","last_name","tg_id","tg_username","avatar","card_balance","level"]}},"id":"a9f88e12-e302-46a9-9787-0f9f32fe04d5","name":"Get User Data","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[464,-96],"alwaysOutputData":true,"credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,-112],"id":"f69eb20d-a786-4ffb-840b-e549b05aa4a6","name":"UserData"},{"parameters":{"content":"## Получаем/создаём пользователя","height":628,"width":1568},"type":"n8n-nodes-base.stickyNote","position":[416,-176],"typeVersion":1,"id":"4a5f766b-3f14-4d40-99b9-696a258b4632","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"981a629e-51cb-430f-bc77-f10af41fa635","name":"user","value":"={{ $('Task').isExecuted ? $json : $json.body}}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-96],"id":"92b7bd53-51be-49ed-8d1b-9db208934355","name":"User Payload"},{"parameters":{"workflowId":{"__rl":true,"value":"ufScUktxVNQZKyFS","mode":"list","cachedResultUrl":"/workflow/ufScUktxVNQZKyFS","cachedResultName":"Get SB_ID"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1408,240],"id":"ad14b3e4-40d0-46a1-9155-7e67cc97a827","name":"Get SB_ID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f5513742-b64d-4d13-9f5e-29b6f1f31e30","leftValue":"={{ $('ADD User').first().json.sb_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,240],"id":"d84555bd-419b-42ac-bed4-0ba2539e46c9","name":"Has SB_ID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7b9d43b8-ae3c-4b7b-a935-e8146c5802d1","leftValue":"={{ $json.partner_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[960,32],"id":"efde8409-48a5-4e1c-acc4-ca8418e515d2","name":"HasParnter"},{"parameters":{"operation":"executeQuery","query":"-- Вариант 1: С использованием подзапроса\nINSERT INTO users (\n    created_at,\n    first_name,\n    last_name,\n    tg_id,\n    tg_username,\n    avatar,\n    sb_id,\n    partner_id\n)\nVALUES (\n    NOW(),\n    $1,  -- first_name\n    $2,  -- last_name\n    $3,  -- tg_id нового пользователя\n    $4,  -- tg_username\n    $5,  -- avatar\n    $6,  -- sb_id\n    (\n        SELECT id \n        FROM users \n        WHERE tg_id = $7  -- tg_id партнера (может быть NULL)\n        LIMIT 1\n    )\n)\nRETURNING id, first_name, last_name, tg_id, tg_username, avatar, card_balance, level, sb_id, partner_id;","options":{"queryReplacement":"={{ [\n  $('User Payload').first().json.user.first_name,\n  $('User Payload').first().json.user.last_name || null,\n  $('User Payload').first().json.user.id,\n  $('User Payload').first().json.user.username.replace('@','') || null,\n  $('User Payload').first().json.user.photo_url || null,\n  $('User Payload').first().json?.user?.sb_id || null,\n  $('User Payload').first().json?.user?.source?.isNotEmpty() && $('User Payload').first().json?.user?.source.includes('ref_') ? $('User Payload').first().json?.user?.source.split('_')[1] : null\n] }}"}},"id":"5d4e3438-f369-4969-a29b-bb64fe491377","name":"ADD User","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[784,32],"credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"workflowId":{"__rl":true,"value":"mSaLwfNSVYrmKviO","mode":"list","cachedResultUrl":"/workflow/mSaLwfNSVYrmKviO","cachedResultName":"N8N /referral-bonus"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1200,16],"id":"66d755aa-b8fc-471e-bfd2-24a3bbfbd0f2","name":"N8N /referral-bonus"}],"connections":{"Exists?":{"main":[[{"node":"UserData","type":"main","index":0}],[{"node":"ADD User","type":"main","index":0}]]},"Get User Data":{"main":[[{"node":"Exists?","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"User Payload","type":"main","index":0}]]},"Task":{"main":[[{"node":"User Payload","type":"main","index":0}]]},"User Payload":{"main":[[{"node":"Get User Data","type":"main","index":0}]]},"UserData":{"main":[[]]},"Get SB_ID":{"main":[[{"node":"UserData","type":"main","index":0}]]},"Has SB_ID":{"main":[[{"node":"UserData","type":"main","index":0}],[{"node":"Get SB_ID","type":"main","index":0}]]},"ADD User":{"main":[[{"node":"HasParnter","type":"main","index":0}]]},"HasParnter":{"main":[[{"node":"N8N /referral-bonus","type":"main","index":0}],[{"node":"Has SB_ID","type":"main","index":0}]]},"N8N /referral-bonus":{"main":[[{"node":"Has SB_ID","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Task":[{"json":{"id":641638479,"first_name":"Андрей","last_name":"| Технарь","username":"ma_andrey","language_code":"ru","is_premium":true,"allows_write_to_pm":true,"photo_url":"https://t.me/i/userpic/320/45Apm9ckV6YyiqwwFKfZM7IOhXip9VeWopQ4yQHkU_4.svg"}}],"Webhook":[{"json":{"headers":{"host":"api.bmulti.store","user-agent":"python-requests/2.31.0","content-length":"299","accept":"*/*","accept-encoding":"gzip, deflate","content-type":"application/x-www-form-urlencoded","x-forwarded-for":"158.160.37.232","x-forwarded-host":"api.bmulti.store","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"3f1437b3e807","x-real-ip":"158.160.37.232"},"params":{},"query":{},"body":{"id":"641638479","first_name":"Андрей","last_name":"| Технарь","username":"@ma_andrey","allows_write_to_pm":"True","photo_url":"https://files.salebot.pro/uploads/avatars/705029/1-809070564-641638479.jpg","sb_id":"809070564","source":"ref_641638479"},"webhookUrl":"https://api.bmulti.store/webhook/user/reg","executionMode":"production"}}]},"versionId":"c74b0e61-e650-4d04-bb3b-4618f920b7ae","triggerCount":1,"shared":[{"createdAt":"2025-10-03T20:00:29.323Z","updatedAt":"2025-10-03T20:00:29.323Z","role":"workflow:owner","workflowId":"yHvUSQRGtsM8TbHc","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}