pgAndNN/check-telegram-subscription.json
{"createdAt":"2025-10-02T18:43:29.263Z","updatedAt":"2025-10-02T21:49:45.488Z","id":"WAU4BunkQmeVPxeS","name":"GET /check-telegram-subscription","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"/tasks/check-telegram-subscription","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-16,-96],"id":"d6b77e5c-eb99-48f0-8c63-256fda0e0fab","name":"Webhook","webhookId":"03e0ca42-d32d-4f19-a866-616265ce0f78"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": {{ $json.ok }},\n  \"subscription\": {{ $json?.result?.status == 'creator' || $json?.result?.status == 'administrator' || $json?.result?.status == 'member' }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[800,-208],"id":"4639b251-10b7-48de-be51-5005aa636275","name":"Respond"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": false,\n  \"message\": \"Пользователь не верефецирован системой\"\n}","options":{"responseCode":401}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[400,112],"id":"5e407aa6-dcf4-4558-aa2a-97bd87112b52","name":"Error 404"},{"parameters":{"content":"     Ошибка 401","height":208,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[336,48],"typeVersion":1,"id":"3fceddbb-25fa-49ad-8a4c-4c403df40314","name":"Sticky Note5"},{"parameters":{"operation":"verify","token":"={{ $json.headers.authorization.split(' ')[1] }}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[192,-96],"id":"49db4310-e19a-4c37-891a-991f78f6f679","name":"JWT","credentials":{"jwtAuth":{"id":"1zfE1rfIcLyD0iKD","name":"JWT Auth"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"returnAll":true,"where":{"values":[{"column":"id","value":"={{ $json.payload.user_id }}"}]},"options":{"outputColumns":["id","tg_id"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[400,-112],"id":"3a1ff7f7-91ce-4a10-a589-928d78fce2cb","name":"GetTgId","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"url":"=https://api.telegram.org/bot7804217269:AAHKP7YF8tQs-UP3sK3Ku0kZ5Qo_EA7827Q/getChatMember?chat_id=-1002310628596&user_id={{ $json.tg_id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,-112],"id":"f15be904-a2b9-443b-b8c8-c41e09ba67d0","name":"Telegram Check","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": false,\n  \"message\": \"Произошла системная ошибка\"\n}","options":{"responseCode":500}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[800,0],"id":"992a57a2-626f-4c72-946c-cc6d81491b57","name":"Error 500"}],"connections":{"Webhook":{"main":[[{"node":"JWT","type":"main","index":0}]]},"JWT":{"main":[[{"node":"GetTgId","type":"main","index":0}],[{"node":"Error 404","type":"main","index":0}]]},"GetTgId":{"main":[[{"node":"Telegram Check","type":"main","index":0}]]},"Telegram Check":{"main":[[{"node":"Respond","type":"main","index":0}],[{"node":"Error 500","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"api.bmulti.store","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36","content-length":"0","accept":"application/json","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9,ru;q=0.8,cs;q=0.7","authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjo3LCJpYXQiOjE3NTk0MjkxNzJ9.8ifyUZ1NII942SoFSYQxK-ARWRnHfBwZULKqwOGD_0A","content-type":"application/json","origin":"http://localhost:3000","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"212.28.89.88","x-forwarded-host":"api.bmulti.store","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"3f1437b3e807","x-real-ip":"212.28.89.88"},"params":{},"query":{},"body":{},"webhookUrl":"https://api.bmulti.store/webhook/tasks/daily-bonus","executionMode":"production"}}]},"versionId":"7e495d61-eb31-4f0d-9f0d-1ef90a0d3c44","triggerCount":1,"shared":[{"createdAt":"2025-10-02T18:43:29.263Z","updatedAt":"2025-10-02T18:43:29.263Z","role":"workflow:owner","workflowId":"WAU4BunkQmeVPxeS","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}