pgAndNN/daily-bonus.json
{"createdAt":"2025-06-14T15:36:03.824Z","updatedAt":"2025-10-02T22:34:06.614Z","id":"IG9rYXBgkSTmpKCs","name":"POST /daily-bonus","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"/tasks/daily-bonus","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-112,-96],"id":"9d3dcd7a-80ab-4c8b-8d7f-adbe7d733198","name":"Webhook","webhookId":"a66464ce-b41a-4521-96a5-a1e83af0838e"},{"parameters":{"respondWith":"json","responseBody":"={{ $('Complete task (auto)').first().json.result.toJsonString() }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1984,-240],"id":"d7f5354d-e2f3-453b-b957-644b080599c2","name":"Respond"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": false,\n  \"message\": \"Пользователь не верефецирован системой\"\n}","options":{"responseCode":401}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[416,128],"id":"71d9c541-57e6-4747-9967-304b0f92665e","name":"Error 404"},{"parameters":{"content":"     Ошибка 401","height":208,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[352,48],"typeVersion":1,"id":"e911f051-b02b-4f5e-97ea-6345e123cabe","name":"Sticky Note5"},{"parameters":{"operation":"verify","token":"={{ $json.headers.authorization.split(' ')[1] }}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[96,-96],"id":"e5c3c336-9847-4abd-b71e-64743c78f672","name":"JWT","credentials":{"jwtAuth":{"id":"1zfE1rfIcLyD0iKD","name":"JWT Auth"}},"onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"user_id\": {{ $('JWT').first().json.payload.user_id }},\n  \"task_id\": 8\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,-224],"id":"eac342f7-4937-4c76-b4c5-c2897eae2e44","name":"SetChecker"},{"parameters":{"workflowId":{"__rl":true,"value":"nu0s5PPlcL6opJXy","mode":"list","cachedResultUrl":"/workflow/nu0s5PPlcL6opJXy","cachedResultName":"1. Check availability"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[544,-224],"id":"2f2da848-9e16-40c2-970f-402435c684f0","name":"Check availability"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"694c9aac-6461-4e3d-bdff-42713884bdb3","leftValue":"={{ $json.result.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[720,-224],"id":"62219f57-d7b2-4f3c-8a1e-22fd1168ada3","name":"Available"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.result.toJsonString() }}","options":{"responseCode":403}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[736,128],"id":"c769a1d5-262a-48b0-9c5a-50d6e3fe163e","name":"Error "},{"parameters":{"content":"     Ошибка 403","height":208,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[672,48],"typeVersion":1,"id":"19f3ebfa-d8b7-461e-81fa-9677dd6de579","name":"Sticky Note"},{"parameters":{"content":"## Проверка доступности","height":224,"width":528,"color":6},"type":"n8n-nodes-base.stickyNote","position":[352,-288],"typeVersion":1,"id":"43ad3669-ae56-447b-970d-a5416332d250","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"694c9aac-6461-4e3d-bdff-42713884bdb3","leftValue":"={{ $json.result.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,-240],"id":"db262fb7-5136-42bc-8bd9-47f6d2091615","name":"Available1"},{"parameters":{"content":"## Создание задания","height":224,"width":528,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1008,-304],"typeVersion":1,"id":"3cb42bb0-6faf-4885-b2be-ca9d7eeee730","name":"Sticky Note2"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"user_id\": {{ $('JWT').first().json.payload.user_id }},\n  \"task_id\": 8,\n  \"points\": null\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,-240],"id":"e9262a76-e23f-46f6-9697-b9d24303d4d9","name":"SetCreateUT"},{"parameters":{"workflowId":{"__rl":true,"value":"b4OBJxTVVkof1cTG","mode":"list","cachedResultUrl":"/workflow/b4OBJxTVVkof1cTG","cachedResultName":"2. Create user_task"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1200,-240],"id":"df68f35a-6637-4cfa-99d5-3b44f3eecafe","name":"Create user_task"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.result.toJsonString() }}","options":{"responseCode":500}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1392,128],"id":"49f4b88e-b72f-42de-942c-c6f1c66b4899","name":"Error 1"},{"parameters":{"content":"     Ошибка 500","height":208,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1328,48],"typeVersion":1,"id":"7509d76d-dd54-4c48-8d8a-cf8d5f12aff6","name":"Sticky Note3"},{"parameters":{"content":"## Создание задания","height":224,"width":528,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1616,-304],"typeVersion":1,"id":"26704b63-e45a-4e30-b97d-12f067aaebeb","name":"Sticky Note4"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"user_task_id\": {{ $('Create user_task').first().json.result.user_task.id }},\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,-240],"id":"34148090-9f60-46ac-a48f-68fa3ce812b4","name":"SetComplete"},{"parameters":{"workflowId":{"__rl":true,"value":"gRLogPVTZbdRjTKa","mode":"list","cachedResultUrl":"/workflow/gRLogPVTZbdRjTKa","cachedResultName":"3. Complete task (auto)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1808,-240],"id":"96b1796a-0712-4848-a42b-53f3d4427977","name":"Complete task (auto)"}],"connections":{"Webhook":{"main":[[{"node":"JWT","type":"main","index":0}]]},"JWT":{"main":[[{"node":"SetChecker","type":"main","index":0}],[{"node":"Error 404","type":"main","index":0}]]},"SetChecker":{"main":[[{"node":"Check availability","type":"main","index":0}]]},"Check availability":{"main":[[{"node":"Available","type":"main","index":0}]]},"Available":{"main":[[{"node":"SetCreateUT","type":"main","index":0}],[{"node":"Error ","type":"main","index":0}]]},"SetCreateUT":{"main":[[{"node":"Create user_task","type":"main","index":0}]]},"Create user_task":{"main":[[{"node":"Available1","type":"main","index":0}]]},"Available1":{"main":[[{"node":"SetComplete","type":"main","index":0}],[{"node":"Error 1","type":"main","index":0}]]},"SetComplete":{"main":[[{"node":"Complete task (auto)","type":"main","index":0}]]},"Complete task (auto)":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"api.bmulti.store","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36","content-length":"0","accept":"application/json","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9,ru;q=0.8,cs;q=0.7","authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjo3LCJpYXQiOjE3NTk0NDE3NDJ9.5LxVXpXV3OvCVTPyRm1qD0Jj4DZuLsTAIt-PZOte4tM","content-type":"application/json","origin":"http://localhost:3000","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"212.28.89.88","x-forwarded-host":"api.bmulti.store","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"3f1437b3e807","x-real-ip":"212.28.89.88"},"params":{},"query":{},"body":{},"webhookUrl":"https://api.bmulti.store/webhook/tasks/daily-bonus","executionMode":"production"}}]},"versionId":"3cecb438-89ee-41d5-9ae3-55b95951531e","triggerCount":1,"shared":[{"createdAt":"2025-06-14T15:36:03.824Z","updatedAt":"2025-06-14T15:36:03.824Z","role":"workflow:owner","workflowId":"IG9rYXBgkSTmpKCs","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}