pgAndNN/Get SB_ID.json
{"createdAt":"2025-10-03T20:42:01.824Z","updatedAt":"2025-10-04T13:55:24.494Z","id":"ufScUktxVNQZKyFS","name":"Get SB_ID","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-112,-96],"id":"4724a354-0cd9-4106-a5b9-247aaf30340c","name":"Task"},{"parameters":{"assignments":{"assignments":[{"id":"16b0820d-be52-47d6-9031-9aa197afd681","name":"data","value":"={{ $json.data.parseJson()[0] }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[784,-16],"id":"8449bdcb-fbd3-4dea-bfd0-de023a43ffb0","name":"Parse","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://chatter.salebot.pro/api/5c8e62a703419c398e391b4749b542b2/tg_callback","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"group_id\":\"bmultiBot\",\n  \"user_id\": {{ $('Get User Data').first().json.tg_id }},\n  \"message\": \"new_wa_user\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,-16],"id":"e2a45dd9-6a2c-4e0b-9818-5ac9b04bbc65","name":"Set User","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://chatter.salebot.pro/api/5c8e62a703419c398e391b4749b542b2/find_client_id_by_platform_id","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"group_id\":\"bmultiBot\",\n  \"platform_ids\": [{{ $('Get User Data').first().json.tg_id }}]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,-16],"id":"e9fe1267-6f0c-4653-8662-d4f2c757ae0b","name":"Get SB_ID","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5bcc49fd-599f-4879-ac09-32fb4278c359","leftValue":"={{ $json?.data?.id }}","rightValue":"","operator":{"type":"number","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[928,-16],"id":"9d64df12-aa23-4128-81e4-ecf48b76d845","name":"Is Not Empty"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"limit":1,"where":{"values":[{"column":"id","value":"={{ $('Task').first().json.id }}"},{"column":"tg_id","value":"={{ $('Task').first().json.tg_id }}"}]},"combineConditions":"OR","options":{"outputColumns":["id","tg_id","sb_id"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[80,-96],"id":"07dccab6-dbc2-4399-a043-3c978de852e1","name":"Get User Data","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f5513742-b64d-4d13-9f5e-29b6f1f31e30","leftValue":"={{ $('Get User Data').first().json.sb_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,-96],"id":"29459d91-650a-46b5-8c7b-821c67d166c8","name":"Has SB_ID"},{"parameters":{"assignments":{"assignments":[{"id":"63dde08b-d817-4ecb-9255-1521cfc1e1fe","name":"status","value":true,"type":"boolean"},{"id":"959ed9ea-a2c0-443a-b4fa-9ae8c70be309","name":"sb_id","value":"={{ $('Get User Data').first().json.sb_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,-352],"id":"97b099a0-887a-4efd-ae5d-20bfa5b88186","name":"Return sb_id"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"columns":{"mappingMode":"defineBelow","value":{"sb_id":"={{ $('Parse').first().json.data.id }}","id":"={{ $('Get User Data').first().json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tg_id","displayName":"tg_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"tg_username","displayName":"tg_username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"avatar","displayName":"avatar","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"card_balance","displayName":"card_balance","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"level","displayName":"level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sb_id","displayName":"sb_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"partner_id","displayName":"partner_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"outputColumns":["id","tg_id","sb_id"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1136,-192],"id":"4f6f3b1c-b63e-4ff8-997d-6d5d2e941bd7","name":"Update SB_ID","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"assignments":{"assignments":[{"id":"63dde08b-d817-4ecb-9255-1521cfc1e1fe","name":"status","value":true,"type":"boolean"},{"id":"959ed9ea-a2c0-443a-b4fa-9ae8c70be309","name":"sb_id","value":"={{ $('Update SB_ID').first().json.sb_id}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,-192],"id":"b81d2bf3-b41a-4525-8639-3a68c624e8f6","name":"Return sb_id 2"},{"parameters":{"assignments":{"assignments":[{"id":"63dde08b-d817-4ecb-9255-1521cfc1e1fe","name":"status","value":false,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,80],"id":"da0538c9-c720-423b-aa29-b99f0184d193","name":"Return False"},{"parameters":{"content":"","height":352,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1104,-384],"typeVersion":1,"id":"af3f2d47-3258-4e1e-9764-0d97bee0b90b","name":"Sticky Note"},{"parameters":{"content":"","height":192,"width":166,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1248,48],"typeVersion":1,"id":"f7580721-6301-4d46-bbf6-2aed69b903b7","name":"Sticky Note1"}],"connections":{"Parse":{"main":[[{"node":"Is Not Empty","type":"main","index":0}]]},"Set User":{"main":[[{"node":"Get SB_ID","type":"main","index":0}]]},"Get SB_ID":{"main":[[{"node":"Parse","type":"main","index":0}]]},"Task":{"main":[[{"node":"Get User Data","type":"main","index":0}]]},"Is Not Empty":{"main":[[{"node":"Update SB_ID","type":"main","index":0}],[{"node":"Return False","type":"main","index":0}]]},"Get User Data":{"main":[[{"node":"Has SB_ID","type":"main","index":0}]]},"Has SB_ID":{"main":[[{"node":"Return sb_id","type":"main","index":0}],[{"node":"Set User","type":"main","index":0}]]},"Update SB_ID":{"main":[[{"node":"Return sb_id 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Task":[{"json":{"id":20}}]},"versionId":"08dfba25-ea1a-4b18-ba78-a195329f237c","triggerCount":0,"shared":[{"createdAt":"2025-10-03T20:42:01.824Z","updatedAt":"2025-10-03T20:42:01.824Z","role":"workflow:owner","workflowId":"ufScUktxVNQZKyFS","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}