pgAndNN/items.json
{"createdAt":"2025-06-11T19:21:08.136Z","updatedAt":"2025-10-02T17:31:35.087Z","id":"FSuN8BmcgnIynKmA","name":"GET /store/items","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"store_items","mode":"list","cachedResultName":"store_items"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,0],"id":"901a0efa-58ab-4ec8-ac85-4bf46fb2afbd","name":"Get Items","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": true,\n  \"items\": {{ $('Aggregate').first().json.data.toJsonString() }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[576,0],"id":"9130d871-5a2d-499f-82f8-ef9b14a3e6e2","name":"Respond to Webhook"},{"parameters":{"path":"/store/items","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"367248fc-070e-4e94-9952-cf2495d75276","name":"GET /store/items","webhookId":"6407297b-27be-40f0-802e-1c4c6423f42c"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[400,0],"id":"faf91c51-d1eb-430c-9843-41a34960d4b0","name":"Aggregate"}],"connections":{"Get Items":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"GET /store/items":{"main":[[{"node":"Get Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ecc8605f-5663-44ef-b804-26e450a9f983","triggerCount":1,"shared":[{"createdAt":"2025-06-11T19:21:08.136Z","updatedAt":"2025-06-11T19:21:08.136Z","role":"workflow:owner","workflowId":"FSuN8BmcgnIynKmA","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}