pgAndNN/Manual Import Items.json
{"createdAt":"2025-06-11T19:38:50.383Z","updatedAt":"2025-10-02T17:32:32.099Z","id":"yrD4z6L28GNDDWnu","name":"Manual Import Items","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"c49b1dee-34f1-4b0a-873b-1bbe00d6ef13","name":"When clicking ‘Execute workflow’"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1vuzTfksrWlR38cFf-z6h3ZsvrQ-mUVDmlXGfm4wAmjQ","mode":"list","cachedResultName":"Bronks DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vuzTfksrWlR38cFf-z6h3ZsvrQ-mUVDmlXGfm4wAmjQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Items","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vuzTfksrWlR38cFf-z6h3ZsvrQ-mUVDmlXGfm4wAmjQ/edit#gid=0"},"options":{"outputFormatting":{"values":{"general":"FORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[224,0],"id":"2bc76a23-62ac-415a-abd9-14383674576c","name":"Google Sheets","credentials":{"googleApi":{"id":"r70GUSYjxk0cnMOM","name":"Google Account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e41e06c8-3310-4e8d-bd04-1f6bd57a066a","leftValue":"={{ $json[\"Внутренний ID\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"76897105-0045-4ffe-8bcc-385275a062c8","leftValue":"={{ $json[\"Название\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9118c4c4-946d-41d2-a21c-b232362cff88","leftValue":"={{ $json[\"Размеры\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"33bc9c92-e5e0-43c7-a1e6-c091cdeb72a1","leftValue":"={{ $json[\"Цена WB зачеркнутая\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"d969ee6d-0404-444a-9382-118b148bd43f","leftValue":"={{ $json[\"Цена WB основная\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,0],"id":"34c91305-39b6-473a-96c5-d5031f2a157e","name":"IisNotEmpty"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"store_items","mode":"list","cachedResultName":"store_items"},"columns":{"mappingMode":"defineBelow","value":{"internal_id":"={{ $json[\"Внутренний ID\"] }}","title":"={{ $json[\"Название\"] }}","main_photo":"={{ $json[\"Фото 1 (главное)\"] }}","photo_2":"={{ $json[\"Фото 2\"] }}","photo_3":"={{ $json[\"Фото 3\"] }}","photo_4":"={{ $json[\"Фото 4\"] }}","rating":"={{ $json[\"Рейтинг\"] }}","sizes":"={{ $json[\"Размеры\"] }}","category":"={{ $json[\"Категория\"] }}","male":"={{ $json[\"Пол\"] }}","old_price":"={{ $json[\"Цена WB зачеркнутая\"] }}","price":"={{ $json[\"Цена WB основная\"] }}"},"matchingColumns":["internal_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false,"removed":true},{"id":"internal_id","displayName":"internal_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"main_photo","displayName":"main_photo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"photo_2","displayName":"photo_2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"photo_3","displayName":"photo_3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"photo_4","displayName":"photo_4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"ratings_num","displayName":"ratings_num","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"rating","displayName":"rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"sizes","displayName":"sizes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"male","displayName":"male","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"old_price","displayName":"old_price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,-208],"id":"edb3422c-65da-4c38-8daf-743b32cfbd09","name":"Postgres","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"IisNotEmpty","type":"main","index":0}]]},"IisNotEmpty":{"main":[[{"node":"Postgres","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c8a97b92-6498-4a2f-9ea8-d259cfc89787","triggerCount":0,"shared":[{"createdAt":"2025-06-11T19:38:50.383Z","updatedAt":"2025-06-11T19:38:50.383Z","role":"workflow:owner","workflowId":"yrD4z6L28GNDDWnu","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}