pgAndNN/referrals.json
{"createdAt":"2025-10-02T20:03:00.125Z","updatedAt":"2025-10-04T14:45:51.794Z","id":"wD21FwYtD0leBA1l","name":"GET /user/referrals","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"/user/referrals","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,-16],"id":"4e68a5bd-ac92-463e-938b-632ed896e81b","name":"GET tasks","webhookId":"8eadc096-5e44-4e02-9580-f88d2c0c4a10"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": true,\n  \"data\": {{ $json.toJsonString()}}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[896,-32],"id":"37566ff3-7e55-465c-a497-e74765cc2927","name":"Respond"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": false,\n  \"message\": \"Пользователь не верефецирован системой\"\n}","options":{"responseCode":401}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[624,176],"id":"3ab4fa21-0b57-490d-878a-3a5492c67db4","name":"Error 404"},{"parameters":{"content":"     Ошибка 401","height":208,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[560,112],"typeVersion":1,"id":"67b5cacc-9399-40ba-b230-bd145c269355","name":"Sticky Note5"},{"parameters":{"operation":"verify","token":"={{ $json.headers.authorization.split(' ')[1] }}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[448,-16],"id":"03d51fcc-cb2b-409d-b8b5-509f0f8f71eb","name":"JWT","retryOnFail":false,"credentials":{"jwtAuth":{"id":"1zfE1rfIcLyD0iKD","name":"JWT Auth"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"-- Вариант 2: Самый простой и понятный\nSELECT \n    (\n        SELECT COUNT(*)::INT\n        FROM user_tasks ut\n        JOIN tasks t ON t.id = ut.task_id\n        WHERE ut.user_id = $1 \n            AND t.system_name = 'referral'\n    ) AS invited_count,\n    (\n        SELECT COALESCE(SUM(pt.amount), 0)::INT\n        FROM point_transactions pt\n        JOIN tasks t ON t.id = pt.task_id\n        WHERE pt.user_id = $1 \n            AND t.system_name = 'referral'\n    ) AS total_earned;","options":{"queryReplacement":"={{ [ $('JWT').first().json.payload.user_id ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[624,-32],"id":"76fc1414-f252-4f09-a851-f0e7d825057a","name":"Get Transactions","alwaysOutputData":true,"credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}}],"connections":{"GET tasks":{"main":[[{"node":"JWT","type":"main","index":0}]]},"JWT":{"main":[[{"node":"Get Transactions","type":"main","index":0}],[{"node":"Error 404","type":"main","index":0}]]},"Get Transactions":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"GET tasks":[{"json":{"headers":{"host":"api.bmulti.store","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36","accept":"application/json","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9,ru;q=0.8,cs;q=0.7","authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoyMSwiaWF0IjoxNzU5NTg1NDc1fQ.E7lrIRbu7GAMcGPkYmSVQxIXH4ZV0hk8FARIHCJ1jwU","content-type":"application/json","if-none-match":"W/\"3b-lZV0m3AXUZqGCHXG4GGAjen/QA8\"","origin":"http://localhost:3000","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"212.28.89.88","x-forwarded-host":"api.bmulti.store","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"3f1437b3e807","x-real-ip":"212.28.89.88"},"params":{},"query":{},"body":{},"webhookUrl":"https://api.bmulti.store/webhook/user/referrals","executionMode":"production"}}]},"versionId":"815943d2-8d73-4d58-8828-e47804d81857","triggerCount":1,"shared":[{"createdAt":"2025-10-02T20:03:00.125Z","updatedAt":"2025-10-02T20:03:00.125Z","role":"workflow:owner","workflowId":"wD21FwYtD0leBA1l","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}