pgAndNN/referral-bonus.json
{"createdAt":"2025-10-04T14:12:30.628Z","updatedAt":"2025-10-04T15:05:28.966Z","id":"mSaLwfNSVYrmKviO","name":"N8N /referral-bonus","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"raw","jsonOutput":"={\n  \"user_id\": {{ $('Task').first().json.partner_id }},\n  \"task_id\": 6\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,-224],"id":"54b8d8c8-6e81-4c8e-a6ef-8e7955d37314","name":"SetChecker"},{"parameters":{"workflowId":{"__rl":true,"value":"nu0s5PPlcL6opJXy","mode":"list","cachedResultUrl":"/workflow/nu0s5PPlcL6opJXy","cachedResultName":"1. Check availability"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[544,-224],"id":"bb883daf-4996-4743-bb45-9d0cf20c0444","name":"Check availability"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"694c9aac-6461-4e3d-bdff-42713884bdb3","leftValue":"={{ $json.result.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[720,-224],"id":"6abbc5cd-bbb8-4dfa-95b2-1335490355af","name":"Available"},{"parameters":{"content":"## Проверка доступности","height":224,"width":528,"color":6},"type":"n8n-nodes-base.stickyNote","position":[352,-288],"typeVersion":1,"id":"1f033c8e-efb8-43b8-92fa-551e7f9bf540","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"694c9aac-6461-4e3d-bdff-42713884bdb3","leftValue":"={{ $json.result.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,-240],"id":"bcdb0de3-c882-4c5d-947b-c15e63db3322","name":"Available1"},{"parameters":{"content":"## Создание задания","height":224,"width":528,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1008,-304],"typeVersion":1,"id":"530bb914-b7f3-49af-9804-14e0694ddb97","name":"Sticky Note2"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"user_id\": {{ $('Task').first().json.partner_id }},\n  \"task_id\": 6,\n  \"points\": null\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,-240],"id":"f08609ad-db1b-43df-b9ee-88cada6e42a8","name":"SetCreateUT"},{"parameters":{"workflowId":{"__rl":true,"value":"b4OBJxTVVkof1cTG","mode":"list","cachedResultUrl":"/workflow/b4OBJxTVVkof1cTG","cachedResultName":"2. Create user_task"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1200,-240],"id":"66915ed1-2004-4b7f-aa05-5f2ffad20a9f","name":"Create user_task"},{"parameters":{"content":"## Создание задания","height":224,"width":320,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1616,-304],"typeVersion":1,"id":"8f79d8e0-d232-40d2-bf54-88439e9c094d","name":"Sticky Note4"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"user_task_id\": {{ $('Create user_task').first().json.result.user_task.id }},\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1648,-240],"id":"1d5a75d0-f7da-4cfc-8038-692209299e65","name":"SetComplete"},{"parameters":{"workflowId":{"__rl":true,"value":"gRLogPVTZbdRjTKa","mode":"list","cachedResultUrl":"/workflow/gRLogPVTZbdRjTKa","cachedResultName":"3. Complete task (auto)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1808,-240],"id":"a2980794-7b42-4d6a-80e1-2ec0780a0ca6","name":"Complete task (auto)"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[160,-224],"id":"21d3ec4a-7ce0-4c7a-9b0d-c8bede2ea143","name":"Task"},{"parameters":{"content":"## В Telegram отбивка партнеру","height":272},"type":"n8n-nodes-base.stickyNote","position":[2368,-336],"typeVersion":1,"id":"7f7b5720-9b96-474a-9f21-a6d56ffb4de2","name":"Sticky Note5"},{"parameters":{"assignments":{"assignments":[{"id":"df5942b6-c585-4dab-b997-82c801e48d8d","name":"id","value":"={{ $('Task').first().json.partner_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2016,-240],"id":"b1055f1e-6890-4d3a-8fc9-41a98148f380","name":"Set get SB_ID"},{"parameters":{"workflowId":{"__rl":true,"value":"ufScUktxVNQZKyFS","mode":"list","cachedResultUrl":"/workflow/ufScUktxVNQZKyFS","cachedResultName":"Get SB_ID"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2192,-240],"id":"dca18e0b-481c-4b2f-ab77-91a1aeda3a4c","name":"GET SB_ID"},{"parameters":{"method":"POST","url":"https://chatter.salebot.pro/api/5c8e62a703419c398e391b4749b542b2/callback","sendBody":true,"bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $('GET SB_ID').first().json.sb_id }}"},{"name":"message","value":"=referral_notif_{{ $('Complete task (auto)').first().json.result.points_awarded }}_{{ $('Complete task (auto)').first().json.result.new_balance }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,-240],"id":"8a6c6c90-6d52-4acc-b060-ca5f90cd881f","name":"Referral Notif","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000}],"connections":{"SetChecker":{"main":[[{"node":"Check availability","type":"main","index":0}]]},"Check availability":{"main":[[{"node":"Available","type":"main","index":0}]]},"Available":{"main":[[{"node":"SetCreateUT","type":"main","index":0}],[]]},"SetCreateUT":{"main":[[{"node":"Create user_task","type":"main","index":0}]]},"Create user_task":{"main":[[{"node":"Available1","type":"main","index":0}]]},"Available1":{"main":[[{"node":"SetComplete","type":"main","index":0}],[]]},"SetComplete":{"main":[[{"node":"Complete task (auto)","type":"main","index":0}]]},"Complete task (auto)":{"main":[[{"node":"Set get SB_ID","type":"main","index":0}]]},"Task":{"main":[[{"node":"SetChecker","type":"main","index":0}]]},"Set get SB_ID":{"main":[[{"node":"GET SB_ID","type":"main","index":0}]]},"GET SB_ID":{"main":[[{"node":"Referral Notif","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5805b9f5-22c9-477a-8a17-d5c2973bedc3","triggerCount":1,"shared":[{"createdAt":"2025-10-04T14:12:30.628Z","updatedAt":"2025-10-04T14:12:30.628Z","role":"workflow:owner","workflowId":"mSaLwfNSVYrmKviO","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}