pgAndNN/Reject task (manual).json
{"createdAt":"2025-10-04T11:44:16.223Z","updatedAt":"2025-10-04T11:58:02.988Z","id":"gVkM20rLRtRrLyrw","name":"Reject task (manual)","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"9f7f5549-bd85-4270-9a35-d8accea253c1","name":"When Executed by Another Workflow"},{"parameters":{"operation":"executeQuery","query":"-- ШАГ 5: Обработка неуспешного webhook (отклонение заявки)\n-- Изменение статуса задачи на 'rejected'\n-- Параметры: \n--   $1 - user_task_id или salebot_order_id\n--   $2 - поиск по 'id' или 'salebot_order_id'\n--   $3 - причина отклонения (необязательно)\n\nWITH user_task_info AS (\n    SELECT \n        ut.id,\n        ut.user_id,\n        ut.task_id,\n        t.title,\n        t.system_name\n    FROM user_tasks ut\n    JOIN tasks t ON t.id = ut.task_id\n    WHERE \n        CASE \n            WHEN $2 = 'id' THEN ut.id = $1\n            WHEN $2 = 'salebot_order_id' THEN ut.salebot_order_id = $1\n        END\n        AND ut.status = 'pending'\n),\nupdate_task AS (\n    UPDATE user_tasks \n    SET \n        status = 'rejected',\n        verified_at = NOW(),\n        comment = COALESCE(\n            CASE WHEN $3 IS NOT NULL AND $3 != '' THEN $3 ELSE comment END,\n            'Заявка отклонена'\n        )\n    WHERE \n        CASE \n            WHEN $2 = 'id' THEN id = $1\n            WHEN $2 = 'salebot_order_id' THEN salebot_order_id = $1\n        END\n        AND status = 'pending'\n    RETURNING id, user_id, comment\n),\nget_user AS (\n    SELECT first_name\n    FROM users\n    WHERE id = (SELECT user_id FROM user_task_info)\n)\n-- Используем COALESCE для гарантированного возврата результата\nSELECT \n    COALESCE(\n        (SELECT jsonb_build_object(\n            'status', true,\n            'message', 'Заявка отклонена',\n            'user_id', ut.user_id,\n            'user_name', gu.first_name,\n            'task_title', uti.title,\n            'rejection_reason', ut.comment\n        )\n        FROM update_task ut\n        LEFT JOIN user_task_info uti ON true\n        LEFT JOIN get_user gu ON true),\n        jsonb_build_object(\n            'status', false,\n            'message', 'Задание не найдено или уже обработано',\n            'user_id', NULL,\n            'user_name', NULL,\n            'task_title', NULL,\n            'rejection_reason', NULL\n        )\n    ) as result;\n\n","options":{"queryReplacement":"={{ [ $json.order_id, 'salebot_order_id', $json.reason ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"f7165eb7-805e-41ad-8d97-943592b02b40","name":"Execute a SQL query","alwaysOutputData":false,"credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d372bb48-b2e0-4a5d-9ba9-3f7331d9d9e8","leftValue":"={{ $json.result.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,0],"id":"2d669e3d-aee7-4d7c-9416-fe4e1acf92b2","name":"status = true"},{"parameters":{"method":"POST","url":"https://chatter.salebot.pro/api/5c8e62a703419c398e391b4749b542b2/set_order_vars","sendBody":true,"bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $('When Executed by Another Workflow').first().json.client_id }}"},{"name":"order_id","value":"={{ $('When Executed by Another Workflow').first().json.order_id }}"},{"name":"variables","value":"={{ {\"error\": $('Execute a SQL query').first().json.result.message } }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,112],"id":"37d90fc7-14c7-4d44-a75b-33bb43e6f74e","name":"Add Error","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"https://chatter.salebot.pro/api/5c8e62a703419c398e391b4749b542b2/callback","sendBody":true,"bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $('When Executed by Another Workflow').first().json.client_id }}"},{"name":"message","value":"=rejected_order_{{ $('When Executed by Another Workflow').item.json.order_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,-128],"id":"227ecc72-78bd-49ff-a4bb-48cc6e667bc8","name":"Close Order","retryOnFail":false,"maxTries":5,"waitBetweenTries":5000}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"status = true","type":"main","index":0}]]},"status = true":{"main":[[{"node":"Close Order","type":"main","index":0}],[{"node":"Add Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"client_id":"808779255","order_id":"559726856","state":"66449904"}}]},"versionId":"e49be946-59b7-4cb8-99d2-ed4426e7d11b","triggerCount":0,"shared":[{"createdAt":"2025-10-04T11:44:16.223Z","updatedAt":"2025-10-04T11:44:16.223Z","role":"workflow:owner","workflowId":"gVkM20rLRtRrLyrw","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}