pgAndNN/SaleBot Webhook.json
{"createdAt":"2025-10-04T09:31:53.682Z","updatedAt":"2025-10-04T13:07:16.916Z","id":"fKGmk6kCHOimY0xR","name":"SaleBot Webhook","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"salebot","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"29fb38e6-6efa-4b6e-8a17-044ded372f59","name":"Webhook","webhookId":"28ee67ad-8668-4e23-b5a9-a55a5071c25b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b582bac4-0f38-47c7-b2e7-276985221a3c","leftValue":"={{ $json.body.is_input.toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[176,0],"id":"312ed9aa-6997-4e15-9217-7fec481cff6d","name":"FromMe"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.message }}","rightValue":"crm_state_changed","operator":{"type":"string","operation":"startsWith"},"id":"2f619dd7-9b0e-46d7-95ba-acb5169b8d23"}],"combinator":"and"},"renameOutput":true,"outputKey":"crm_state_changed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1d32f395-c1c0-420d-8a28-dbfa27fb0845","leftValue":"={{ $json.body.message }}","rightValue":"crm_system_state_changed","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"crm_system_state_changed"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[352,0],"id":"f4d33bc3-0245-49aa-a171-45537f71a314","name":"Switch"},{"parameters":{"url":"https://chatter.salebot.pro/api/5c8e62a703419c398e391b4749b542b2/get_orders","sendQuery":true,"queryParameters":{"parameters":[{"name":"client_id","value":"={{ $('Set client_id').first().json.client_id }}"},{"name":"order_status","value":"0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[848,736],"id":"e389dd1f-ea07-4d9e-bf84-f6f87a8f69da","name":"Get Active Orders"},{"parameters":{"assignments":{"assignments":[{"id":"e6d7d7fc-4fab-4891-9693-e209c2506b82","name":"client_id","value":"={{ $('Webhook').first().json.body.client.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,736],"id":"fbc86466-ecad-4f5b-bf54-7eb44908be8e","name":"Set client_id"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1728,928],"id":"a82b145f-c103-4e00-bebc-ce016e135a18","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"fce5969b-6d03-4867-8bc4-c53e931afc8c","name":"data","value":"={{ $json?.data?.parseJson()?.result || [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1024,736],"id":"b8b67f4a-ce52-464a-ad0f-a5cd97901a63","name":"Set Active"},{"parameters":{"url":"https://chatter.salebot.pro/api/5c8e62a703419c398e391b4749b542b2/get_order_state","sendQuery":true,"queryParameters":{"parameters":[{"name":"client_id","value":"={{ $('Webhook').first().json.body.client.id }}"},{"name":"order_id","value":"={{ $('Webhook').first().json.body.client.variables.callback_order_id }}"}]},"options":{"batching":{"batch":{"batchSize":10,"batchInterval":200}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,-112],"id":"c2b3eaf7-01f8-4028-9358-5083175696b3","name":"Get State","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"fieldToSplitOut":"data","options":{"destinationFieldName":"order_id"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1216,736],"id":"e61c0400-5569-4481-8624-fc85e2b746a2","name":"Split Out Active"},{"parameters":{"assignments":{"assignments":[{"id":"d98ff3fd-da76-4c87-9ce4-4d58ced2a1bf","name":"order_id","value":"={{ $('Split Out Success').item.json.order_id }}","type":"string"},{"id":"4940bbf2-5ac9-44e4-8307-7cc8993fb668","name":"state","value":"=success","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1472,944],"id":"785d3354-d56d-47b9-8155-80a92d620c23","name":"Final Success"},{"parameters":{"assignments":{"assignments":[{"id":"d98ff3fd-da76-4c87-9ce4-4d58ced2a1bf","name":"order_id","value":"={{ $('Split Out Fail').item.json.order_id }}","type":"string"},{"id":"4940bbf2-5ac9-44e4-8307-7cc8993fb668","name":"state","value":"=fail","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1472,1104],"id":"745f2e18-1cd2-4905-a1dc-038d3d85d4a5","name":"Final Fail"},{"parameters":{"fieldToSplitOut":"data","options":{"destinationFieldName":"order_id"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1056,1104],"id":"a97f2835-d928-406d-b97b-d7597f14a903","name":"Split Out Fail"},{"parameters":{"fieldToSplitOut":"data","options":{"destinationFieldName":"order_id"}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1056,944],"id":"42221aa9-5fb0-40d8-9b04-2bffb5be65cf","name":"Split Out Success"},{"parameters":{"assignments":{"assignments":[{"id":"fce5969b-6d03-4867-8bc4-c53e931afc8c","name":"data","value":"={{ $json?.data?.parseJson()?.result || [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[864,1104],"id":"1bc1be87-d557-419d-bf3e-3eaed4b33460","name":"Set Fail"},{"parameters":{"assignments":{"assignments":[{"id":"fce5969b-6d03-4867-8bc4-c53e931afc8c","name":"data","value":"={{ $json?.data?.parseJson()?.result || [] }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[864,944],"id":"bae8a5df-c91a-43d0-ad4f-d9973c050f92","name":"Set Success"},{"parameters":{"url":"https://chatter.salebot.pro/api/5c8e62a703419c398e391b4749b542b2/get_orders","sendQuery":true,"queryParameters":{"parameters":[{"name":"client_id","value":"={{ $('Set client_id').first().json.client_id }}"},{"name":"order_status","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,944],"id":"97565469-b0ea-4a9a-8de3-8f4dd1dc29d1","name":"Get Success Orders"},{"parameters":{"url":"https://chatter.salebot.pro/api/5c8e62a703419c398e391b4749b542b2/get_orders","sendQuery":true,"queryParameters":{"parameters":[{"name":"client_id","value":"={{ $('Set client_id').first().json.client_id }}"},{"name":"order_status","value":"2"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,1104],"id":"317dc7d5-e96c-4639-845e-46cc5b943a27","name":"Get Fail Orders"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.state }}","rightValue":"66449900","operator":{"type":"string","operation":"equals"},"id":"c6c0eae4-7c18-414b-bee7-37787a680b35"}],"combinator":"and"},"renameOutput":true,"outputKey":"Новое"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"81735bf1-337c-43af-9514-ff167e74b934","leftValue":"={{ $json.state }}","rightValue":"66449901","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"На проверке"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8920570b-d806-4b4f-8b3c-8704c922679c","leftValue":"={{ $json.state }}","rightValue":"66450617","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"В стопе"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6298cdea-1b22-4cdc-aa40-2dd031fa2b2a","leftValue":"={{ $json.state }}","rightValue":"66449903","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Выдать бонус"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9b6becc-4a96-4ee8-94f2-d85c8ead8f21","leftValue":"={{ $json.state }}","rightValue":"66449904","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Отменить бонус"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[992,-160],"id":"a3776819-445a-4563-aee1-cb7cbc82d828","name":"Status Switcher"},{"parameters":{"workflowId":{"__rl":true,"value":"inI5lJgGcwJ2gmYk","mode":"list","cachedResultUrl":"/workflow/inI5lJgGcwJ2gmYk","cachedResultName":"3. Complete task (manual)"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1280,-80],"id":"2831f50f-90b7-472e-a123-83ee01f3354c","name":"Complete task"},{"parameters":{"workflowId":{"__rl":true,"value":"gVkM20rLRtRrLyrw","mode":"list","cachedResultUrl":"/workflow/gVkM20rLRtRrLyrw","cachedResultName":"Reject task (manual)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1280,96],"id":"b20a5fe5-054b-42b6-9e63-d7273e5031a5","name":"Reject task"},{"parameters":{"assignments":{"assignments":[{"id":"add50375-afff-4c6f-9e18-58fda43bc1f8","name":"client_id","value":"={{ $('Webhook').first().json.body.client.id }}","type":"string"},{"id":"d98ff3fd-da76-4c87-9ce4-4d58ced2a1bf","name":"order_id","value":"={{ $('Webhook').first().json.body.client.variables.callback_order_id }}","type":"string"},{"id":"4940bbf2-5ac9-44e4-8307-7cc8993fb668","name":"state","value":"={{ $('Get State').first().json?.data?.parseJson()?.state_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,-112],"id":"3e8a7a8d-e949-4ccb-a363-74b157d32bbb","name":"Final Active"}],"connections":{"Webhook":{"main":[[{"node":"FromMe","type":"main","index":0}]]},"FromMe":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get State","type":"main","index":0}],[]]},"Get Active Orders":{"main":[[{"node":"Set Active","type":"main","index":0}]]},"Set client_id":{"main":[[{"node":"Get Active Orders","type":"main","index":0}]]},"Set Active":{"main":[[{"node":"Split Out Active","type":"main","index":0}]]},"Get State":{"main":[[{"node":"Final Active","type":"main","index":0}]]},"Split Out Active":{"main":[[]]},"Final Success":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Final Fail":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[]]},"Split Out Fail":{"main":[[{"node":"Final Fail","type":"main","index":0}]]},"Split Out Success":{"main":[[{"node":"Final Success","type":"main","index":0}]]},"Set Fail":{"main":[[{"node":"Split Out Fail","type":"main","index":0}]]},"Set Success":{"main":[[{"node":"Split Out Success","type":"main","index":0}]]},"Get Success Orders":{"main":[[{"node":"Set Success","type":"main","index":0}]]},"Get Fail Orders":{"main":[[{"node":"Set Fail","type":"main","index":0}]]},"Status Switcher":{"main":[[],[],[],[{"node":"Complete task","type":"main","index":0}],[{"node":"Reject task","type":"main","index":0}]]},"Final Active":{"main":[[{"node":"Status Switcher","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"api.bmulti.store","user-agent":"python-requests/2.31.0","content-length":"1212","accept":"*/*","accept-encoding":"gzip, deflate","content-type":"application/json","x-forwarded-for":"62.84.125.172","x-forwarded-host":"api.bmulti.store","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"3f1437b3e807","x-real-ip":"62.84.125.172"},"params":{},"query":{},"body":{"id":20403043420,"client":{"id":808779255,"recepient":"641638479","client_type":1,"name":"Андрей | Технарь","avatar":"https://files.salebot.pro/uploads/avatars/705029/1-808779255-641638479.jpg","created_at":"2025-10-04 00:04:45.200538","unread_count":0,"tag":null,"user_id":null,"group":"bmultiBot","variables":{"callback_order_id":"559730001","current_order_id":"559729758","custom_status_code":"200","tg_birthdate":"Не указано","tg_username":"@ma_andrey"},"order_variables":{"budget":"250","order_name":"Бонус за отзыв","Название":"Бонус за отзыв"}},"message":"crm_state_changed Проверка заданий:Выдать бонус","attachments":null,"project_id":705029,"is_input":1,"delivered":1,"message_id":null,"internal_id":"None","error_message":null,"user_id":null},"webhookUrl":"https://api.bmulti.store/webhook/salebot","executionMode":"production"}}]},"versionId":"0dd94e55-56ad-4ca0-af75-6bb87f59113c","triggerCount":1,"shared":[{"createdAt":"2025-10-04T09:31:53.682Z","updatedAt":"2025-10-04T09:31:53.682Z","role":"workflow:owner","workflowId":"fKGmk6kCHOimY0xR","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}