pgAndNN/Store: AutoUpd prices.json
{"createdAt":"2025-02-08T13:42:20.766Z","updatedAt":"2025-08-14T08:11:55.589Z","id":"9aSZtXsMqbDzcL1M","name":"Store: AutoUpd prices","active":true,"isArchived":false,"nodes":[{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1vuzTfksrWlR38cFf-z6h3ZsvrQ-mUVDmlXGfm4wAmjQ","mode":"list","cachedResultName":"Bronks DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vuzTfksrWlR38cFf-z6h3ZsvrQ-mUVDmlXGfm4wAmjQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Items","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vuzTfksrWlR38cFf-z6h3ZsvrQ-mUVDmlXGfm4wAmjQ/edit#gid=0"},"options":{"outputFormatting":{"values":{"general":"FORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[144,-256],"id":"f95c7718-8a56-404b-b502-33957373c159","name":"GetData","retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleApi":{"id":"r70GUSYjxk0cnMOM","name":"Google Account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,-256],"id":"47b20669-6812-40a2-8de3-1294bb2099fd","name":"ItemsLoop"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89b9340c-f943-4fac-820c-cc02be3051f5","leftValue":"={{ $('ItemsLoop').item.json['Кабинет WB'] }}","rightValue":0,"operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"e56366aa-af27-4127-a3f5-b92f550c3a0a","leftValue":"={{ $('ItemsLoop').item.json['Артикул WB'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,-16],"id":"1dcc9686-5e76-405e-ba18-c4467b2f97a2","name":"OnWB?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89b9340c-f943-4fac-820c-cc02be3051f5","leftValue":"={{ $('ItemsLoop').item.json['Кабинет Ozon'] }}","rightValue":0,"operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"a5169aad-c285-435c-ba83-6f1f62a24052","leftValue":"={{ $('ItemsLoop').item.json['Артикул Ozon'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,-16],"id":"6a1fca06-6ef6-42d6-9151-c613ed023167","name":"OnOzon?"},{"parameters":{"url":"https://discounts-prices-api.wildberries.ru/api/v2/list/goods/filter","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"1"},{"name":"filterNmID","value":"={{ $('ItemsLoop').item.json[\"Артикул WB\"].replace(/ |,/g, m => (m === ',' ? '.' : '')).toNumber() }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.apiKey }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1408,-160],"id":"f612ad5d-559d-405b-b3cd-7cb1c5dd7cd9","name":"Get WB Price","retryOnFail":false,"waitBetweenTries":3000,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const account = $('ItemsLoop').item.json[\"Кабинет WB\"];\nconst apiKeys = {\n  \"ООО АКС КЭПИТАЛ\": \"eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc3MDA4MTc5OSwiaWQiOiIwMTk4NzU0MC0zNjFjLTcwY2MtYjlkMy00YmI4ZGQ3ZmFmNzQiLCJpaWQiOjg2NTQ4NDcsIm9pZCI6NjcwNzYxLCJzIjoxMDczNzQxODM0LCJzaWQiOiJhZmQwNWNkZC0zYTg4LTRmNTEtYThlNi1lN2I2NDVhNGM1NTYiLCJ0IjpmYWxzZSwidWlkIjo4NjU0ODQ3fQ.lFHRGwIA_Mq2k3VweEqzhfxU1jYSpeyID0Iq7N0wteanOwBJRwmpARM2iIEuQsy-3rhxZXV2upWbbwnNa4W5ag\",\n\n  \"ИП Пашкович (Bronks)\": \"eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc3MDA2MjY3NiwiaWQiOiIwMTk4NzQxYy02YmU2LTdhYTAtYjRmYy1jZDYwNzUwMjNjMmIiLCJpaWQiOjQ1OTM4Njk3LCJvaWQiOjI2NzA3NCwicyI6MTAsInNpZCI6IjkxZTE0ZjRmLTkxM2YtNDNhOS05M2NkLTc2NmQ5NDBhNGVlMCIsInQiOmZhbHNlLCJ1aWQiOjQ1OTM4Njk3fQ.iUzC9TOrCw4OhthzHUiL3XW8ECITb4B7WGdxRZXOXsGiKMXX-ZE6sEe8E0oS5xOU-fXsTeqIQkIjSUoO-kY1AQ\",\n\n  \"ИП Чайковский (FLOW LAB)\": \"eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc3MDA4MTY3MiwiaWQiOiIwMTk4NzUzZS00NzA5LTdlMzMtYTcyZi0xNzI0YTk4MDZlNzIiLCJpaWQiOjg2NTQ4NDcsIm9pZCI6OTkzODUwLCJzIjoxMDczNzQxODM0LCJzaWQiOiIzMmZkNmUxNC1hNDRlLTQyMTgtYWMwMy05YjRiZTZlNGIxMTkiLCJ0IjpmYWxzZSwidWlkIjo4NjU0ODQ3fQ.xQAc6VWg1favVdYlxO40v8Sudtwp-pJjw6rDZZO4nsfNQ0zy0XGsaWhzADnjiVbbCPTJHESovXb5RaMlRaln-Q\",\n\n  \"ИП Чайковская (Pancake)\": \"eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc2OTkxMjg1MCwiaWQiOiIwMTk4NmIyZS00MWJjLTcwNWMtYWY0Mi05NmM0NzM4YjkxMTUiLCJpaWQiOjEwOTkxNzU5Miwib2lkIjoxMjM2MjQzLCJzIjoxMCwic2lkIjoiNWMxZTNkM2UtODFiOS00ZTcxLWEyYWUtM2E3NWRlYjA2YzQ5IiwidCI6ZmFsc2UsInVpZCI6MTA5OTE3NTkyfQ.SNW78GJ1rOx38unDS4qdHXVsC9NOB84BPd9h_P9c2jIh5mQW-LQuYBEW7z60lm615hdaaq19Sw0NzTnW8s9UZw\",\n\n  \"ИП Банишевский\": \"eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc3MDA4MTgzMywiaWQiOiIwMTk4NzU0MC1iY2ZiLTdmMWUtODc2MS1mYjcxYWIwNTJiMGQiLCJpaWQiOjg2NTQ4NDcsIm9pZCI6MTU0MzA3LCJzIjoxMDczNzQxODM0LCJzaWQiOiI2NDg0OGFjMi1lMTYzLTQ4ZDUtODgxNy1lZGNlZmI2YjVjZWUiLCJ0IjpmYWxzZSwidWlkIjo4NjU0ODQ3fQ.6gnf2pGt1axmb4OPwzYcHtAAgQDgjYQ3DwNFZj_jZguRMQLLQEflBtyvJxfszGOqqBWPzMVav4I3vpU9V2c3_w\",\n\n  \"ИП Крикун\": \"eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc3MDA5NzExNiwiaWQiOiIwMTk4NzYyOS1mMGE2LTc5ZDEtOWQ3Ny04MzUxZTU0MWVjNjYiLCJpaWQiOjM3ODg4MjY3LCJvaWQiOjM5NzYyMDcsInMiOjEwNzM3NDE4MzQsInNpZCI6IjgzZmJlYWM0LTE1ZjQtNDYyOC1iZWQ0LWE2YWMwNWZiZTYzOCIsInQiOmZhbHNlLCJ1aWQiOjM3ODg4MjY3fQ.jJjDHLG6V3R8j7BdtSC1yevs9hF8XwO3T6RteFs2gQ420jyr_0ZTG66MhTcY3v7yu7l1nmY_uFeeNyMycnfOkg\",\n\n  \"Blanc\": \"\",\n\n  \"Line 17\": \"eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwNTIwdjEiLCJ0eXAiOiJKV1QifQ.eyJlbnQiOjEsImV4cCI6MTc2OTkxMjYyMSwiaWQiOiIwMTk4NmIyYS1jMmMyLTcwZDUtOTdmZC00MjMzZThlYjdlNzciLCJpaWQiOjExMDM3NTAxNCwib2lkIjoxMjY1Njg0LCJzIjoxMCwic2lkIjoiZjBjZGJkNGItZjk4Ny00OGY2LTlmMjctNmU4N2Y1YWRjYWYyIiwidCI6ZmFsc2UsInVpZCI6MTEwMzc1MDE0fQ.le7mLE-TCjY9Bn7v3hEM2Q8kkc0cb4kCtR_nB7ea9Dx4yRTLvTqVsX-DFDw2R7ouTMyXW279Jr-w7jZPNaKKfg\",\n};\n\nconst apiKey = apiKeys[account];\nif (!apiKey) {\n  throw new Error(`API-ключ для аккаунта \"${account}\" не найден. Проверь поле \"account\" в таблице.`);\n}\n\nreturn {\n  apiKey\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,-160],"id":"43697593-0624-440c-8f6d-cb266915224a","name":"Get WB API KEY"},{"parameters":{"jsCode":"const account = $node[\"ItemsLoop\"].json[\"Кабинет Ozon\"];\nconsole.log(account);\nconst apiCredentials = {\n  \"ООО АКС КЭПИТАЛ\": {\n    clientId: \"426332\",\n    apiKey: \"6dba929c-1fcd-4c84-920a-4a77d5b1c94c\"\n  },\n  \"ИП Пашкович (Bronks)\": {\n    clientId: \"307648\",\n    apiKey: \"86ae40bf-edd0-4596-bef2-ddd17c3174cc\"\n  },\n  \"ИП Чайковский (FLOW LAB)\": {\n    clientId: \"1915075\",\n    apiKey: \"d906369a-6027-4186-b0e4-778a1de68b8e\"\n  },\n  \"ИП Чайковская (Pancake)\": {\n    clientId: \"2180562\",\n    apiKey: \"0cc5efaf-4d58-42b2-bc6c-80492242a559\"\n  },\n  \"ИП Банишевский\": {\n    clientId: \"132081\",\n    apiKey: \"68911740-493c-46cc-94b1-943b9cd31858\"\n  },\n  \"ИП Крикун\": {\n    clientId: \"2309055\",\n    apiKey: \"4c4130bf-6228-4d20-aa48-2b8bea0ebccf\"\n  },\n  \"Blanc\": {\n    clientId: \"1686713\",\n    apiKey: \"825a3043-451a-4a62-92c9-35343726c1d6\"\n  },\n  \"Line 17\": {\n    clientId: \"2140087\",\n    apiKey: \"6c78e18c-a45a-4e7b-9d9d-f1475efefadc\"\n  }\n};\n\nconst credentials = apiCredentials[account];\n\nif (!credentials) {\n  throw new Error(`API-данные для аккаунта \"${account}\" не найдены. Проверь поле \"Кабинет OZON\" в таблице.`);\n}\n\nreturn {\n  clientId: credentials.clientId,\n  apiKey: credentials.apiKey\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,-160],"id":"ae2ddafe-36d5-475b-a84b-df4c4d57bcd7","name":"Get OZON API KEY"},{"parameters":{"method":"POST","url":"https://api-seller.ozon.ru/v3/product/info/list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Id","value":"={{ $json.clientId }}"},{"name":"Api-Key","value":"={{ $json.apiKey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"sku\": [\"{{ $('ItemsLoop').item.json[\"Артикул Ozon\"] }}\"]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1968,-160],"id":"ddd3972b-5228-4e61-ad0f-21768e84ed62","name":"Get OZON Price","executeOnce":false,"retryOnFail":true,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Функция для группировки размеров\nfunction groupSizes(sizesString) {\n  if (!sizesString || sizesString.trim() === \"\") return \"\";\n  \n  const sizesArray = sizesString.split(\",\").map(s => s.trim()).filter(s => s !== \"\");\n  \n  // Если только один размер или есть ONESIZE, возвращаем как есть\n  if (sizesArray.length <= 1 || sizesArray.some(s => s.toUpperCase() === \"ONESIZE\")) {\n    return sizesArray.join(\", \");\n  }\n  \n  // Определяем порядок стандартных размеров (добавляем 2XS)\n  const standardOrder = [\"2XS\", \"XS\", \"S\", \"M\", \"L\", \"XL\", \"2XL\", \"3XL\", \"4XL\", \"5XL\", \"6XL\", \"7XL\", \"8XL\"];\n  \n  // Разделяем на стандартные размеры, числовые размеры и остальные\n  const standardSizes = [];\n  const numericSizes = [];\n  const otherSizes = [];\n  \n  sizesArray.forEach(size => {\n    if (standardOrder.includes(size)) {\n      standardSizes.push(size);\n    } else if (/^\\d+$/.test(size)) {\n      numericSizes.push(parseInt(size));\n    } else {\n      otherSizes.push(size);\n    }\n  });\n  \n  // Если есть неопознанные размеры (не стандартные и не числовые), возвращаем все как есть\n  if (otherSizes.length > 0) {\n    return sizesArray.join(\", \");\n  }\n  \n  let result = [];\n  \n  // Обрабатываем стандартные размеры\n  if (standardSizes.length > 0) {\n    standardSizes.sort((a, b) => standardOrder.indexOf(a) - standardOrder.indexOf(b));\n    const standardGroups = groupSequential(standardSizes, (a, b) => {\n      return standardOrder.indexOf(b) === standardOrder.indexOf(a) + 1;\n    });\n    result = result.concat(standardGroups);\n  }\n  \n  // Обрабатываем числовые размеры\n  if (numericSizes.length > 0) {\n    numericSizes.sort((a, b) => a - b);\n    const numericGroups = groupNumericWithGaps(numericSizes);\n    result = result.concat(numericGroups);\n  }\n  \n  return result.join(\", \");\n}\n\n// Вспомогательная функция для группировки последовательных элементов\nfunction groupSequential(array, isSequential) {\n  if (array.length === 0) return [];\n  \n  const groups = [];\n  let currentGroup = [array[0]];\n  \n  for (let i = 1; i < array.length; i++) {\n    if (isSequential(array[i-1], array[i])) {\n      currentGroup.push(array[i]);\n    } else {\n      groups.push(currentGroup);\n      currentGroup = [array[i]];\n    }\n  }\n  groups.push(currentGroup);\n  \n  // Форматируем группы\n  return groups.map(group => {\n    if (group.length === 1) {\n      return group[0].toString();\n    } else if (group.length === 2) {\n      return group.join(\", \");\n    } else {\n      return `${group[0]}-${group[group.length - 1]}`;\n    }\n  });\n}\n\n// Вспомогательная функция для группировки числовых размеров с пропусками\nfunction groupNumericWithGaps(numbers) {\n  if (numbers.length === 0) return [];\n  \n  const groups = [];\n  let currentGroup = [numbers[0]];\n  \n  for (let i = 1; i < numbers.length; i++) {\n    const prev = numbers[i-1];\n    const curr = numbers[i];\n    \n    // Проверяем если числа идут подряд\n    if (curr === prev + 1) {\n      currentGroup.push(curr);\n    } else {\n      // Заканчиваем текущую группу\n      groups.push(currentGroup);\n      currentGroup = [curr];\n    }\n  }\n  groups.push(currentGroup);\n  \n  // Форматируем группы\n  return groups.map(group => {\n    if (group.length === 1) {\n      return group[0].toString();\n    } else if (group.length === 2) {\n      return group.join(\", \");\n    } else {\n      return `${group[0]}-${group[group.length - 1]}`;\n    }\n  });\n}\n\n// Объявляем переменные\nconst updates = [];\nlet apiPriceWBOld = 0;\nlet apiPriceWBActual = 0;\nlet apiPriceOZOld = 0;\nlet apiPriceOZActual = 0;\nlet wbSizes = \"\";\n\n// Тянем цены из WB\nif($('ItemsLoop').item.json[\"Кабинет WB\"] !== \"\" &&   \n   $('ItemsLoop').item.json[\"Артикул WB\"] !== \"\" &&\n   $('Get WB Price').item.json.data.listGoods.length > 0 ){ \n  apiPriceWBOld = Number($('Get WB Price').item.json.data.listGoods[0].sizes[0].price);\n  apiPriceWBActual = Number($('Get WB Price').item.json.data.listGoods[0].sizes[0].discountedPrice);\n  \n  // Собираем размеры WB\n  const sizesArray = $('Get WB Price').item.json.data.listGoods[0].sizes.map(size => size.techSizeName);\n  const rawSizes = sizesArray.join(\", \");\n  \n  // Применяем группировку размеров\n  wbSizes = groupSizes(rawSizes);\n}\n\n// Тянем цены из Ozon\nif($('ItemsLoop').item.json[\"Кабинет Ozon\"] !== \"\" &&\n   $('ItemsLoop').item.json[\"Артикул Ozon\"] !== \"\" &&\n   $('Get OZON Price').item.json.items.length > 0){ \n  apiPriceOZOld = Number($('Get OZON Price').item.json.items[0].old_price.replace(/ |,/g, m => (m === ',' ? '.' : '')));\n  apiPriceOZActual = Number($('Get OZON Price').item.json.items[0].price.replace(/ |,/g, m => (m === ',' ? '.' : '')));\n}\n\n// Возвращаем результат\nupdates.push({\n  rowId: $('ItemsLoop').item.json.row_number,\n  newOldWB: apiPriceWBOld,\n  newActualWB: apiPriceWBActual,\n  newOldOZ: apiPriceOZOld,\n  newActualOZ: apiPriceOZActual,\n  wbSizes: wbSizes\n});\n\nreturn updates;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,-16],"id":"2ce258c5-af41-46c6-bb69-c94ec854db76","name":"CheckChanging","alwaysOutputData":true},{"parameters":{"url":"https://api.creatium.io/database/webhook?hash=1sO/DFwQWOzC06sLPXPM2Ni+oVP3u0T7kNzP/jNPdDEo9gKH26qycAwX5Z59zle6/tue3XJdnZi6WcR5b3ACES+f9VYqMZF02o1WtmCoixdNhDpmgrx3PySCzpxO2Tb6y6kkrVmmLZf4rRCeqG4amXjUm20gTncs5br9Qd2yWoE=","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,-736],"id":"c889c38b-d0c2-476f-be73-501219ab6aaa","name":"Update Creatium","executeOnce":true,"retryOnFail":true},{"parameters":{"amount":0.5},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2320,-16],"id":"0093ac4b-dbea-4b57-ab2c-40752a871307","name":"0.5s","webhookId":"72d701a3-7e19-4703-9657-0e2b14b6446c"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aae5ba65-8970-481e-93b5-99b581007b5e","leftValue":"={{ $json[\"Внутренний ID\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[352,-256],"id":"a51c7c19-735a-495e-a6c3-a93d34fdf66f","name":"isNotEmpty"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-64,-256],"id":"a9f3bab9-7558-41d0-b0ae-ab84cf7bb66b","name":"Schedule Trigger"},{"parameters":{"jsCode":"const items = $input.all().map(item => item.json);\n\nconst wbList = items.filter(i => i.newOldWB !== 0 || i.newActualWB !== 0).map(i => ({\n  rowId: i.rowId,\n  newOldWB: i.newOldWB,\n  newActualWB: i.newActualWB,\n  wbSizes: i.wbSizes\n}));\n\nconst ozList = items.filter(i => i.newOldOZ !== 0 || i.newActualOZ !== 0).map(i => ({\n  rowId: i.rowId,\n  newOldOZ: i.newOldOZ,\n  newActualOZ: i.newActualOZ\n}));\n\nreturn [{ json: { wbList, ozList } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,-736],"id":"4a64b384-d3b2-446c-9cd7-05bf7592ae32","name":"Division","executeOnce":true,"alwaysOutputData":true},{"parameters":{"fieldToSplitOut":"wbList","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1168,-848],"id":"f3597cf6-7aea-41ad-b962-1e23ebb5320b","name":"wbData"},{"parameters":{"fieldToSplitOut":"ozList","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1168,-608],"id":"3e03e0d3-9bce-4947-978f-f042beb816e7","name":"ozonData"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1vuzTfksrWlR38cFf-z6h3ZsvrQ-mUVDmlXGfm4wAmjQ","mode":"list","cachedResultName":"Bronks DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vuzTfksrWlR38cFf-z6h3ZsvrQ-mUVDmlXGfm4wAmjQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Items","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vuzTfksrWlR38cFf-z6h3ZsvrQ-mUVDmlXGfm4wAmjQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.rowId }}","Цена WB зачеркнутая":"={{ Math.round($json.newOldWB).format('RU') }}","Размеры":"={{ $json.wbSizes }}","Цена WB основная":"={{ Math.round($json.newActualWB).format('RU') }}"},"matchingColumns":["row_number"],"schema":[{"id":"Внутренний ID","displayName":"Внутренний ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Показать?","displayName":"Показать?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Новый?","displayName":"Новый?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Акционный?","displayName":"Акционный?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Название","displayName":"Название","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Фото 1 (главное)","displayName":"Фото 1 (главное)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Фото 2","displayName":"Фото 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Фото 3","displayName":"Фото 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Фото 4","displayName":"Фото 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Рейтинг","displayName":"Рейтинг","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Размеры","displayName":"Размеры","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Категория","displayName":"Категория","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Пол","displayName":"Пол","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Цена WB зачеркнутая","displayName":"Цена WB зачеркнутая","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Цена WB основная","displayName":"Цена WB основная","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ссылка на WB","displayName":"Ссылка на WB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Артикул WB","displayName":"Артикул WB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Кабинет WB","displayName":"Кабинет WB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Цена OZON зачеркнутая","displayName":"Цена OZON зачеркнутая","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Цена OZON основная","displayName":"Цена OZON основная","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ссылка на OZON","displayName":"Ссылка на OZON","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Артикул Ozon","displayName":"Артикул Ozon","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Кабинет Ozon","displayName":"Кабинет Ozon","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1392,-848],"id":"e5b1f0c9-b63c-4ed6-8e6c-0839efbb2e2b","name":"WB Update Prices","alwaysOutputData":false,"executeOnce":false,"retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleApi":{"id":"r70GUSYjxk0cnMOM","name":"Google Account"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1vuzTfksrWlR38cFf-z6h3ZsvrQ-mUVDmlXGfm4wAmjQ","mode":"list","cachedResultName":"Bronks DataBase","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vuzTfksrWlR38cFf-z6h3ZsvrQ-mUVDmlXGfm4wAmjQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Items","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vuzTfksrWlR38cFf-z6h3ZsvrQ-mUVDmlXGfm4wAmjQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.rowId }}","Цена OZON зачеркнутая":"={{ Math.round($json.newOldOZ).format('RU') }}","Цена OZON основная":"={{ Math.round($json.newActualOZ).format('RU') }}"},"matchingColumns":["row_number"],"schema":[{"id":"Внутренний ID","displayName":"Внутренний ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Показать?","displayName":"Показать?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Новый?","displayName":"Новый?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Акционный?","displayName":"Акционный?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Название","displayName":"Название","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Фото 1 (главное)","displayName":"Фото 1 (главное)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Фото 2","displayName":"Фото 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Фото 3","displayName":"Фото 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Фото 4","displayName":"Фото 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Рейтинг","displayName":"Рейтинг","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Размеры","displayName":"Размеры","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Категория","displayName":"Категория","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Пол","displayName":"Пол","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Цена WB зачеркнутая","displayName":"Цена WB зачеркнутая","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Цена WB основная","displayName":"Цена WB основная","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ссылка на WB","displayName":"Ссылка на WB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Артикул WB","displayName":"Артикул WB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Кабинет WB","displayName":"Кабинет WB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Цена OZON зачеркнутая","displayName":"Цена OZON зачеркнутая","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Цена OZON основная","displayName":"Цена OZON основная","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ссылка на OZON","displayName":"Ссылка на OZON","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Артикул Ozon","displayName":"Артикул Ozon","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Кабинет Ozon","displayName":"Кабинет Ozon","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1392,-608],"id":"1eb04318-9744-4fe2-a65d-201af4dbf71c","name":"Ozon Update Prices","alwaysOutputData":false,"executeOnce":false,"retryOnFail":true,"waitBetweenTries":2000,"credentials":{"googleApi":{"id":"r70GUSYjxk0cnMOM","name":"Google Account"}}},{"parameters":{"jsCode":"// Объявляем переменные\nconst updates = [];\nlet apiPriceWBOld = 0;\nlet apiPriceWBActual = 0;\nlet apiPriceOZOld = 0;\nlet apiPriceOZActual = 0;\nlet wbSizes = \"\";\n\n// Тянем цены из WB\nif($('ItemsLoop').item.json[\"Кабинет WB\"] !== \"\" &&   \n   $('ItemsLoop').item.json[\"Артикул WB\"] !== \"\" &&\n   $('Get WB Price').item.json.data.listGoods.length > 0 ){ \n  apiPriceWBOld = Number($('Get WB Price').item.json.data.listGoods[0].sizes[0].price);\n  apiPriceWBActual = Number($('Get WB Price').item.json.data.listGoods[0].sizes[0].discountedPrice);\n  \n  // Собираем размеры WB\n  const sizesArray = $('Get WB Price').item.json.data.listGoods[0].sizes.map(size => size.techSizeName);\n  wbSizes = sizesArray.join(\", \");\n}\n\n// Тянем цены из Ozon\nif($('ItemsLoop').item.json[\"Кабинет Ozon\"] !== \"\" &&\n   $('ItemsLoop').item.json[\"Артикул Ozon\"] !== \"\" &&\n   $('Get OZON Price').item.json.items.length > 0){ \n  apiPriceOZOld = Number($('Get OZON Price').item.json.items[0].old_price.replace(/ |,/g, m => (m === ',' ? '.' : '')));\n  apiPriceOZActual = Number($('Get OZON Price').item.json.items[0].price.replace(/ |,/g, m => (m === ',' ? '.' : '')));\n}\n\n// Возвращаем результат\nupdates.push({\n  rowId: $('ItemsLoop').item.json.row_number,\n  newOldWB: apiPriceWBOld,\n  newActualWB: apiPriceWBActual,\n  newOldOZ: apiPriceOZOld,\n  newActualOZ: apiPriceOZActual,\n  wbSizes: wbSizes\n});\n\nreturn updates;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,224],"id":"27ccfe11-fb7d-42cf-baa1-892c0efba9ca","name":"CheckChanging1","alwaysOutputData":true}],"connections":{"GetData":{"main":[[{"node":"isNotEmpty","type":"main","index":0}]]},"ItemsLoop":{"main":[[{"node":"Division","type":"main","index":0}],[{"node":"OnWB?","type":"main","index":0}]]},"OnWB?":{"main":[[{"node":"Get WB API KEY","type":"main","index":0}],[{"node":"OnOzon?","type":"main","index":0}]]},"OnOzon?":{"main":[[{"node":"Get OZON API KEY","type":"main","index":0}],[{"node":"CheckChanging","type":"main","index":0}]]},"Get WB Price":{"main":[[{"node":"OnOzon?","type":"main","index":0}]]},"Get WB API KEY":{"main":[[{"node":"Get WB Price","type":"main","index":0}]]},"Get OZON API KEY":{"main":[[{"node":"Get OZON Price","type":"main","index":0}]]},"Get OZON Price":{"main":[[{"node":"CheckChanging","type":"main","index":0}]]},"CheckChanging":{"main":[[{"node":"0.5s","type":"main","index":0}]]},"0.5s":{"main":[[{"node":"ItemsLoop","type":"main","index":0}]]},"isNotEmpty":{"main":[[{"node":"ItemsLoop","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"GetData","type":"main","index":0}]]},"Division":{"main":[[{"node":"wbData","type":"main","index":0},{"node":"ozonData","type":"main","index":0}]]},"wbData":{"main":[[{"node":"WB Update Prices","type":"main","index":0}]]},"ozonData":{"main":[[{"node":"Ozon Update Prices","type":"main","index":0}]]},"WB Update Prices":{"main":[[{"node":"Update Creatium","type":"main","index":0}]]},"Ozon Update Prices":{"main":[[{"node":"Update Creatium","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[12]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e5676baa-65e2-40fa-926b-f89d199338fe","triggerCount":1,"shared":[{"createdAt":"2025-02-08T13:42:20.766Z","updatedAt":"2025-02-08T13:42:20.766Z","role":"workflow:owner","workflowId":"9aSZtXsMqbDzcL1M","projectId":"vI2eXglKNLswvn2H"}],"tags":[{"createdAt":"2025-03-26T14:51:59.956Z","updatedAt":"2025-03-26T14:51:59.956Z","id":"FO425X3P6Ct9ypq1","name":"Store"}]}