pgAndNN/submit-task.json
{"createdAt":"2025-07-23T13:36:46.010Z","updatedAt":"2025-10-04T13:23:49.326Z","id":"RUIjM5HXkvZfMrF4","name":"POST /submit-task","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"/tasks/submit-task","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[432,-560],"id":"4347d3b5-40d2-4702-b231-54abda4d1618","name":"Webhook","webhookId":"a7015dac-2e81-4a62-a8e8-44349f9c9326"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": true,\n  \"message\":\"Задание успешно было отправлено на проверку менеджеру\"\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[3040,-704],"id":"b1f30ac5-1584-47a4-9489-761f2cb0c142","name":"Respond"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": false,\n  \"message\": \"Пользователь не верефецирован системой\"\n}","options":{"responseCode":401}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[928,-224],"id":"962beb65-682b-47b5-9ed2-7fca476e61ca","name":"Error 404"},{"parameters":{"content":"     Ошибка 401","height":208,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[864,-288],"typeVersion":1,"id":"1ad2fe96-d566-4665-a519-e3e85d8ce081","name":"Sticky Note5"},{"parameters":{"assignments":{"assignments":[{"id":"64da399b-a272-4432-8e80-68b9a9cf9414","name":"files","value":"={{ $('Webhook').first().binary }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3584,-880],"id":"ba4c4820-218f-4423-acf7-98fd6f8dbaa2","name":"Files for Split"},{"parameters":{"fieldToSplitOut":"files","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3760,-880],"id":"a09738c8-14d0-4b56-aea2-1ad7b0a42642","name":"Split Out"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4544,-880],"id":"99024a19-32a9-4f6e-8996-9d44cc318580","name":"Aggregate"},{"parameters":{"content":"## Сложить файлы в выполнение, если они есть","height":224,"width":1392,"color":5},"type":"n8n-nodes-base.stickyNote","position":[3344,-944],"typeVersion":1,"id":"befd1be4-28da-46fd-b330-7176b0e54c64","name":"Sticky Note1"},{"parameters":{"operation":"verify","token":"={{ $('Webhook').item.json.headers.authorization.split(' ')[1] }}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[624,-560],"id":"c3e0dcd8-1247-4600-9b63-8ce187bbe8ea","name":"JWT","credentials":{"jwtAuth":{"id":"1zfE1rfIcLyD0iKD","name":"JWT Auth"}},"onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"user_id\": {{ $('JWT').first().json.payload.user_id }},\n  \"task_id\": {{ $('Webhook').first().json.body.task_id }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,-672],"id":"d9e12a1a-802c-49ab-a7d6-5d7408eed2cd","name":"SetChecker"},{"parameters":{"workflowId":{"__rl":true,"value":"nu0s5PPlcL6opJXy","mode":"list","cachedResultUrl":"/workflow/nu0s5PPlcL6opJXy","cachedResultName":"1. Check availability"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1056,-672],"id":"aa225abc-41c5-434d-a402-8b9af27562bc","name":"Check availability"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"694c9aac-6461-4e3d-bdff-42713884bdb3","leftValue":"={{ $json.result.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1232,-672],"id":"a05c2f6d-d048-4e64-a335-6c57367a9705","name":"Available"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"694c9aac-6461-4e3d-bdff-42713884bdb3","leftValue":"={{ $json.result.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2800,-704],"id":"0c9b3510-589e-4f6f-b7a4-71c0bcfcba02","name":"Available1"},{"parameters":{"content":"## Создание задания","height":224,"width":528,"color":6},"type":"n8n-nodes-base.stickyNote","position":[2432,-768],"typeVersion":1,"id":"a673b74e-c723-488b-ad69-50c9df23c21f","name":"Sticky Note2"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"user_id\": {{ $('JWT').first().json.payload.user_id }},\n  \"task_id\": {{ $('Webhook').first().json.body.task_id }},\n  \"oder_id\": {{ $('Set OrderId').first().json.order_id }},\n  \"points\": {{ $('Available').first().json?.result?.task_info?.id == 2 ? ( $('Webhook').first().json?.body?.fields?.parseJson()?.purchase_amount * 0.01 ) : 'null' }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2464,-704],"id":"c778104f-7e9e-4141-ba3a-d1df531021d9","name":"SetCreateUT"},{"parameters":{"workflowId":{"__rl":true,"value":"b4OBJxTVVkof1cTG","mode":"list","cachedResultUrl":"/workflow/b4OBJxTVVkof1cTG","cachedResultName":"2. Create user_task"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2624,-704],"id":"86cd61a6-a851-43d3-ace0-edddd231bb85","name":"Create user_task"},{"parameters":{"content":"## Проверка доступности","height":224,"width":528,"color":6},"type":"n8n-nodes-base.stickyNote","position":[864,-736],"typeVersion":1,"id":"7bd7b4e8-2163-4a6b-a7db-ad0bb2ed6040","name":"Sticky Note"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.result.toJsonString() }}","options":{"responseCode":403}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1216,-208],"id":"f1f891cc-7e28-4dbc-9f06-4cd4c7db31f5","name":"Error "},{"parameters":{"respondWith":"json","responseBody":"={{ $json.result.toJsonString() }}","options":{"responseCode":500}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2784,-224],"id":"75431ac3-5f7a-4c8d-bc6c-737435a97049","name":"Error 1"},{"parameters":{"content":"     Ошибка 500","height":208,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2720,-304],"typeVersion":1,"id":"dc540dd4-6d3d-4baf-a1a7-5477561b299f","name":"Sticky Note3"},{"parameters":{"content":"     Ошибка 403","height":208,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1152,-288],"typeVersion":1,"id":"5cd7f4af-5bc5-4418-86e8-12af5c2162fa","name":"Sticky Note4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"694c9aac-6461-4e3d-bdff-42713884bdb3","leftValue":"={{ !!$('Webhook').first().binary }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3392,-880],"id":"8fff03cc-2188-49e9-bc37-2a7cd225afa0","name":"HasPhoto?"},{"parameters":{"method":"POST","url":"http://directus:8055/files/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"folder","value":"85e5bee1-c248-4e54-8bf5-dce20771ad3b"},{"name":"title","value":"={{ $json.fileName }}"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4144,-880],"id":"7395e1b8-ccbd-4a90-8e7a-1e2b344d393b","name":"Save to S3","retryOnFail":false,"waitBetweenTries":5000,"credentials":{"httpHeaderAuth":{"id":"yYJVYmuqAnjKRAuX","name":"Directus"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"directus_files","mode":"list","cachedResultName":"directus_files"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.data.id }}","user_task_id":"={{ $('Create user_task').first().json.result.user_task.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"storage","displayName":"storage","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"filename_disk","displayName":"filename_disk","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"filename_download","displayName":"filename_download","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"folder","displayName":"folder","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"uploaded_by","displayName":"uploaded_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created_on","displayName":"created_on","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"modified_by","displayName":"modified_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"modified_on","displayName":"modified_on","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"charset","displayName":"charset","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"filesize","displayName":"filesize","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"width","displayName":"width","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"height","displayName":"height","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"embed","displayName":"embed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"metadata","displayName":"metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"focal_point_x","displayName":"focal_point_x","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"focal_point_y","displayName":"focal_point_y","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"tus_id","displayName":"tus_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"tus_data","displayName":"tus_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"uploaded_on","displayName":"uploaded_on","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"user_task_id","displayName":"user_task_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4352,-928],"id":"39e4c47a-09c3-40e5-84fb-2c92fda4a6be","name":"Update UTid","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"694c9aac-6461-4e3d-bdff-42713884bdb3","leftValue":"={{ !!$('Webhook').first().json.body.fields }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3392,-592],"id":"c4c713e2-6f09-4a65-bd9e-2c035212597d","name":"HasFields?"},{"parameters":{"content":"## Сложить доп.поля, если они есть","height":224,"width":1392,"color":5},"type":"n8n-nodes-base.stickyNote","position":[3344,-656],"typeVersion":1,"id":"ec7b0aef-ea49-42da-8e26-7a5f8e5ca5b9","name":"Sticky Note6"},{"parameters":{"resource":"file","operation":"download","path":"=/root/bmulti/n8n_data/binaryData/{{ $json.id.replace('filesystem-v2:','') }}","options":{"fileName":"={{ $json.fileName }}"}},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[3952,-880],"id":"81b31c89-b773-40d6-a4a9-ca4fe6819990","name":"GetFile From Server","credentials":{"sshPassword":{"id":"CYUPPWYoFGsfSZXR","name":"SSH"}}},{"parameters":{"method":"POST","url":"https://chatter.salebot.pro/api/5c8e62a703419c398e391b4749b542b2/create_order","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"client_id\": {{ $('Get SB_ID').first().json.sb_id }},\n  \"name\": \"{{ $('Check availability').first().json.result.task_info.title }}\",\n  \"description\": \"\",\n  \"budget\": {{ $('Available').first().json?.result?.task_info?.id == 2 ? ( $('Webhook').first().json?.body?.fields?.parseJson()?.purchase_amount * 0.01 ) : $('Check availability').first().json.result.task_info.points }},\n  \"state_id\": 66449900\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,-688],"id":"dfc4e322-e191-4d35-a102-2339c5ea93fe","name":"Create Order","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"47430f6e-a815-46c9-8e98-e11d68857eb2","name":"id","value":"={{ $('JWT').first().json.payload.user_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,-688],"id":"702e6a77-7db9-4d5c-acc0-c4ee1cc18ec5","name":"Set get sb_id"},{"parameters":{"workflowId":{"__rl":true,"value":"ufScUktxVNQZKyFS","mode":"list","cachedResultUrl":"/workflow/ufScUktxVNQZKyFS","cachedResultName":"Get SB_ID"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1648,-688],"id":"5b142958-5cc8-4213-8a3a-3cc23528ade8","name":"Get SB_ID"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": false,\n  \"message\": \"Произошла техническая ошибка, попробуй немного позже\"\n}","options":{"responseCode":500}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1840,-224],"id":"098a8569-0921-4f85-9681-40f5993e706c","name":"Error 2"},{"parameters":{"content":"     Ошибка 500","height":208,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1776,-304],"typeVersion":1,"id":"77541502-e191-4f5f-8a69-4036e55f608f","name":"Sticky Note7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45dde76a-b55b-4a38-8714-a668d36a6c1e","leftValue":"={{ $('Set OrderId').first().json.order_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2192,-688],"id":"53ccf19f-6d2d-4d6a-bbc2-e251b1814449","name":"Has order_id"},{"parameters":{"assignments":{"assignments":[{"id":"6203934e-4eb1-48e1-b4a5-c48accbdfe71","name":"order_id","value":"={{ $('Create Order').first().json?.data?.parseJson()?.order_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2016,-688],"id":"69fc9a65-99df-4589-877c-6c4a79d82f0e","name":"Set OrderId"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"user_tasks","mode":"list","cachedResultName":"user_tasks"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Create user_task').first().json.result.user_task.id }}","additional_data":"={{\n  $('Webhook').first().json.body.fields.parseJson().toJsonString() \n}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"user_id","displayName":"user_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"task_id","displayName":"task_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"points_awarded","displayName":"points_awarded","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"completed_at","displayName":"completed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"verified_at","displayName":"verified_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"comment","displayName":"comment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"salebot_order_id","displayName":"salebot_order_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"additional_data","displayName":"additional_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3616,-592],"id":"cc5f6f7a-6139-4617-bf8f-256ad0ffb9df","name":"Add additional_data","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}}],"connections":{"Webhook":{"main":[[{"node":"JWT","type":"main","index":0}]]},"Files for Split":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"GetFile From Server","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HasFields?","type":"main","index":0}]]},"JWT":{"main":[[{"node":"SetChecker","type":"main","index":0}],[{"node":"Error 404","type":"main","index":0}]]},"SetChecker":{"main":[[{"node":"Check availability","type":"main","index":0}]]},"Check availability":{"main":[[{"node":"Available","type":"main","index":0}]]},"Available":{"main":[[{"node":"Set get sb_id","type":"main","index":0}],[{"node":"Error ","type":"main","index":0}]]},"SetCreateUT":{"main":[[{"node":"Create user_task","type":"main","index":0}]]},"Create user_task":{"main":[[{"node":"Available1","type":"main","index":0}]]},"Available1":{"main":[[{"node":"Respond","type":"main","index":0}],[{"node":"Error 1","type":"main","index":0}]]},"Respond":{"main":[[{"node":"HasPhoto?","type":"main","index":0}]]},"HasPhoto?":{"main":[[{"node":"Files for Split","type":"main","index":0}],[{"node":"HasFields?","type":"main","index":0}]]},"Save to S3":{"main":[[{"node":"Update UTid","type":"main","index":0}],[{"node":"Aggregate","type":"main","index":0}]]},"Update UTid":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"GetFile From Server":{"main":[[{"node":"Save to S3","type":"main","index":0}]]},"HasFields?":{"main":[[{"node":"Add additional_data","type":"main","index":0}]]},"Set get sb_id":{"main":[[{"node":"Get SB_ID","type":"main","index":0}]]},"Get SB_ID":{"main":[[{"node":"Create Order","type":"main","index":0}]]},"Create Order":{"main":[[{"node":"Set OrderId","type":"main","index":0}],[{"node":"Error 2","type":"main","index":0}]]},"Set OrderId":{"main":[[{"node":"Has order_id","type":"main","index":0}]]},"Has order_id":{"main":[[{"node":"SetCreateUT","type":"main","index":0}],[{"node":"Error 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"api.bmulti.store","user-agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 18_6_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148","content-length":"5684857","accept":"application/json","accept-encoding":"gzip, deflate, br","accept-language":"ru","authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoyMCwiaWF0IjoxNzU5NTgxNjk5fQ.MM7E5NVItFSk4VKhy2dClqRQWmwehVj9CzrkrQQ0vww","content-type":"multipart/form-data; boundary=----WebKitFormBoundaryPs2fkdEA52QdoKyE","origin":"https://ls.bmulti.store","referer":"https://ls.bmulti.store/","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"same-site","x-forwarded-for":"212.28.89.88","x-forwarded-host":"api.bmulti.store","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"3f1437b3e807","x-real-ip":"212.28.89.88"},"params":{},"query":{},"body":{"task_id":"2","fields":"{\"marketplace\":\"other\",\"purchase_amount\":\"2000\"}"},"webhookUrl":"https://api.bmulti.store/webhook/tasks/submit-task","executionMode":"production"},"binary":{"receipt_image":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"jpeg","data":"filesystem-v2","fileName":"IMG_8788.jpeg","id":"filesystem-v2:workflows/RUIjM5HXkvZfMrF4/executions/temp/binary_data/2e62eeeb-6228-4b8f-b5b0-dccdc7feb0ad","fileSize":"16.6 kB"},"tag_image":{"mimeType":"image/jpeg","fileType":"image","fileExtension":"jpeg","data":"filesystem-v2","fileName":"camphoto_1296255701.jpeg","id":"filesystem-v2:workflows/RUIjM5HXkvZfMrF4/executions/temp/binary_data/aaff2591-c56e-414e-b6ff-77d530927dcd","fileSize":"5.67 MB"}}}]},"versionId":"b9f538cf-875e-4d2d-9cd9-81c336900099","triggerCount":1,"shared":[{"createdAt":"2025-07-23T13:36:46.010Z","updatedAt":"2025-07-23T13:36:46.010Z","role":"workflow:owner","workflowId":"RUIjM5HXkvZfMrF4","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}