pgAndNN/tasks.json
{"createdAt":"2025-06-09T17:01:51.288Z","updatedAt":"2025-10-04T15:27:29.440Z","id":"eJFUIBEuFLLIlRzf","name":"GET /user/tasks","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"user/tasks","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,-16],"id":"78ebfc05-f046-43ce-b93b-0c75795ea711","name":"GET tasks","webhookId":"e936b42c-a906-4a4c-8d75-70879b96f357"},{"parameters":{"operation":"executeQuery","query":"-- Оптимизированный запрос для получения списка заданий с минимальным набором полей\n-- Параметр: $1 - user_id\n\nWITH user_task_stats AS (\n    -- Собираем статистику по задачам пользователя\n    SELECT \n        task_id,\n        -- Проверка выполнения сегодня (для daily_bonus)\n        BOOL_OR(DATE(completed_at) = CURRENT_DATE AND status = 'approved') as completed_today,\n        -- Проверка наличия задачи в работе (для cashback, instagram_subscribe, review, instagram_story)\n        BOOL_OR(status = 'pending') as has_pending,\n        -- Количество выполненных задач за текущий месяц (для monthly_limit)\n        COUNT(*) FILTER (\n            WHERE status = 'approved' \n            AND DATE_TRUNC('month', completed_at) = DATE_TRUNC('month', CURRENT_DATE)\n        ) as monthly_completed_count,\n        -- Проверка на выполнение одноразовых задач\n        BOOL_OR(status = 'approved') as ever_completed\n    FROM user_tasks \n    WHERE user_id = $1\n    GROUP BY task_id\n)\n\nSELECT \n    t.id,\n    t.title,\n    t.points,\n    t.system_name,\n    t.icon_url,\n    \n    -- Определяем доступность задания\n    CASE \n        -- Ежедневный бонус - недоступен если уже получен сегодня\n        WHEN t.system_name = 'daily_bonus' AND COALESCE(uts.completed_today, false) = true THEN \n            false\n        \n        -- Одноразовые задания - недоступны если уже выполнены\n        WHEN t.is_one_time = true AND COALESCE(uts.ever_completed, false) = true THEN \n            false\n        \n        -- Задания с месячным лимитом - недоступны если лимит исчерпан\n        WHEN t.monthly_limit IS NOT NULL \n             AND COALESCE(uts.monthly_completed_count, 0) >= t.monthly_limit THEN \n            false\n        \n        -- Задания с ручной проверкой - недоступны если есть заявка в работе\n        WHEN t.system_name IN ('cashback', 'instagram_subscribe', 'review', 'instagram_story') \n             AND COALESCE(uts.has_pending, false) = true THEN \n            false\n        \n        -- Во всех остальных случаях - доступно\n        ELSE true\n    END as is_available,\n    \n    -- Определяем текст статуса\n    CASE \n        -- Ежедневный бонус - если выполнен сегодня\n        WHEN t.system_name = 'daily_bonus' AND COALESCE(uts.completed_today, false) = true THEN \n            'Возвращайся завтра'\n        \n        -- Одноразовые задания - если выполнены\n        WHEN t.is_one_time = true AND COALESCE(uts.ever_completed, false) = true THEN \n            'Выполнено'\n        \n        -- Месячный лимит исчерпан\n        WHEN t.monthly_limit IS NOT NULL \n             AND COALESCE(uts.monthly_completed_count, 0) >= t.monthly_limit THEN \n            'Месячный лимит исчерпан'\n        \n        -- Задания с ручной проверкой - если есть заявка в работе\n        WHEN t.system_name IN ('cashback', 'instagram_subscribe', 'review', 'instagram_story') \n             AND COALESCE(uts.has_pending, false) = true THEN \n            'На проверке'\n        \n        -- Доступно для выполнения\n        ELSE 'Доступно'\n    END as available_text\n\nFROM tasks t\nLEFT JOIN user_task_stats uts ON t.id = uts.task_id\n\nWHERE \n    t.is_active = true  -- Показываем только активные задания\n    -- Не скрываем одноразовые задания, чтобы показать статус \"Выполнено\"\n    \nORDER BY \n    -- Основная сортировка по приоритету\n    CASE \n        -- 1. daily_bonus всегда первый (независимо от статуса)\n        WHEN t.system_name = 'daily_bonus' THEN 1\n        \n        -- 2. Доступные задания\n        WHEN (\n            -- Не daily_bonus И не выполненные одноразовые И не исчерпан лимит И нет pending\n            t.system_name != 'daily_bonus'\n            AND NOT (t.is_one_time = true AND COALESCE(uts.ever_completed, false) = true)\n            AND NOT (t.monthly_limit IS NOT NULL AND COALESCE(uts.monthly_completed_count, 0) >= t.monthly_limit)\n            AND NOT (t.system_name IN ('cashback', 'instagram_subscribe', 'review', 'instagram_story') \n                     AND COALESCE(uts.has_pending, false) = true)\n        ) THEN 2\n        \n        -- 3. На проверке (pending)\n        WHEN t.system_name IN ('cashback', 'instagram_subscribe', 'review', 'instagram_story') \n             AND COALESCE(uts.has_pending, false) = true THEN 3\n        \n        -- 4. Месячный лимит исчерпан\n        WHEN t.monthly_limit IS NOT NULL \n             AND COALESCE(uts.monthly_completed_count, 0) >= t.monthly_limit THEN 4\n        \n        -- 5. Одноразовые выполненные\n        WHEN t.is_one_time = true AND COALESCE(uts.ever_completed, false) = true THEN 5\n        \n        ELSE 6\n    END,\n    -- Внутри каждой группы сортируем по index\n    t.index ASC NULLS LAST;\n\n\n","options":{"queryReplacement":"={{ [ $json.payload.user_id ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[624,-32],"id":"77668f0f-7303-4449-9bee-d085119756f9","name":"Get Task List","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": true,\n  \"tasks\": {{ $('Aggregate').first().json.tasks.toJsonString() }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[944,-32],"id":"3c5edf43-5ed8-451a-b110-ff3e326bf071","name":"Respond"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": false,\n  \"message\": \"Пользователь не верефецирован системой\"\n}","options":{"responseCode":401}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[624,176],"id":"a8263d4d-c240-4c5b-8ce9-db4fc22f63a8","name":"Error 404"},{"parameters":{"content":"     Ошибка 401","height":208,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[560,112],"typeVersion":1,"id":"3fadda3c-83f6-42ce-8bf2-b8263dc88e12","name":"Sticky Note5"},{"parameters":{"operation":"verify","token":"={{ $json.headers.authorization.split(' ')[1] }}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[448,-16],"id":"0077e29f-fc06-4161-98d9-741d857aff64","name":"JWT","retryOnFail":false,"credentials":{"jwtAuth":{"id":"1zfE1rfIcLyD0iKD","name":"JWT Auth"}},"onError":"continueErrorOutput"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"tasks","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[768,-32],"id":"4aac4114-1ab1-4d99-9e45-6c03b815b36b","name":"Aggregate"},{"parameters":{"operation":"executeQuery","query":"-- Оптимизированный запрос для получения списка заданий с минимальным набором полей\n-- Параметр: $1 - user_id\n\nWITH user_task_stats AS (\n    -- Собираем статистику по задачам пользователя\n    SELECT \n        task_id,\n        -- Проверка выполнения сегодня (для daily_bonus)\n        BOOL_OR(DATE(completed_at) = CURRENT_DATE AND status = 'approved') as completed_today,\n        -- Проверка наличия задачи в работе (для cashback, instagram_subscribe, review, instagram_story)\n        BOOL_OR(status = 'pending') as has_pending,\n        -- Количество выполненных задач за текущий месяц (для monthly_limit)\n        COUNT(*) FILTER (\n            WHERE status = 'approved' \n            AND DATE_TRUNC('month', completed_at) = DATE_TRUNC('month', CURRENT_DATE)\n        ) as monthly_completed_count,\n        -- Проверка на выполнение одноразовых задач\n        BOOL_OR(status = 'approved') as ever_completed\n    FROM user_tasks \n    WHERE user_id = $1\n    GROUP BY task_id\n)\n\nSELECT \n    t.id,\n    t.title,\n    t.points,\n    t.system_name,\n    t.icon_url,\n    \n    -- Определяем доступность задания\n    CASE \n        -- Ежедневный бонус - недоступен если уже получен сегодня\n        WHEN t.system_name = 'daily_bonus' AND COALESCE(uts.completed_today, false) = true THEN \n            false\n        \n        -- Одноразовые задания - недоступны если уже выполнены\n        WHEN t.is_one_time = true AND COALESCE(uts.ever_completed, false) = true THEN \n            false\n        \n        -- Задания с месячным лимитом - недоступны если лимит исчерпан\n        WHEN t.monthly_limit IS NOT NULL \n             AND COALESCE(uts.monthly_completed_count, 0) >= t.monthly_limit THEN \n            false\n        \n        -- Задания с ручной проверкой - недоступны если есть заявка в работе\n        WHEN t.system_name IN ('cashback', 'instagram_subscribe', 'review', 'instagram_story') \n             AND COALESCE(uts.has_pending, false) = true THEN \n            false\n        \n        -- Во всех остальных случаях - доступно\n        ELSE true\n    END as is_available,\n    \n    -- Определяем текст статуса\n    CASE \n        -- Ежедневный бонус - если выполнен сегодня\n        WHEN t.system_name = 'daily_bonus' AND COALESCE(uts.completed_today, false) = true THEN \n            'Возвращайся завтра'\n        \n        -- Одноразовые задания - если выполнены\n        WHEN t.is_one_time = true AND COALESCE(uts.ever_completed, false) = true THEN \n            'Выполнено'\n        \n        -- Месячный лимит исчерпан\n        WHEN t.monthly_limit IS NOT NULL \n             AND COALESCE(uts.monthly_completed_count, 0) >= t.monthly_limit THEN \n            'Месячный лимит исчерпан'\n        \n        -- Задания с ручной проверкой - если есть заявка в работе\n        WHEN t.system_name IN ('cashback', 'instagram_subscribe', 'review', 'instagram_story') \n             AND COALESCE(uts.has_pending, false) = true THEN \n            'На проверке'\n        \n        -- Доступно для выполнения\n        ELSE 'Доступно'\n    END as available_text\n\nFROM tasks t\nLEFT JOIN user_task_stats uts ON t.id = uts.task_id\n\nWHERE \n    t.is_active = true  -- Показываем только активные задания\n    -- Не скрываем одноразовые задания, чтобы показать статус \"Выполнено\"\n    \nORDER BY \n    t.index ASC NULLS LAST,\n    -- Сортируем доступные задания выше\n    CASE \n        WHEN t.system_name = 'daily_bonus' AND COALESCE(uts.completed_today, false) = false THEN 1\n        WHEN t.is_one_time = true AND COALESCE(uts.ever_completed, false) = true THEN 3\n        WHEN t.monthly_limit IS NOT NULL AND COALESCE(uts.monthly_completed_count, 0) >= t.monthly_limit THEN 3\n        WHEN t.system_name IN ('cashback', 'instagram_subscribe', 'review', 'instagram_story') \n             AND COALESCE(uts.has_pending, false) = true THEN 3\n        ELSE 2\n    END;\n\n","options":{"queryReplacement":"={{ [ $json.payload.user_id ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[624,-240],"id":"586265bc-28b0-4556-97dd-d72c8fe1dad7","name":"Get Task List1","credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}}],"connections":{"GET tasks":{"main":[[{"node":"JWT","type":"main","index":0}]]},"Get Task List":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"JWT":{"main":[[{"node":"Get Task List","type":"main","index":0}],[{"node":"Error 404","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"GET tasks":[{"json":{"headers":{"host":"api.bmulti.store","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36","accept":"application/json","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9,ru;q=0.8,cs;q=0.7","authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjo3LCJpYXQiOjE3NTk0MjUxMjR9.nmiZzbKuLPsG2bE6M0rykKC9N4gDKp4UFfxwNOoIq5o","content-type":"application/json","if-none-match":"W/\"a2a-nrEn8H8ynGjyr/GjJdw5A1Rks2Y\"","origin":"http://localhost:3000","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"212.28.89.88","x-forwarded-host":"api.bmulti.store","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"3f1437b3e807","x-real-ip":"212.28.89.88"},"params":{},"query":{},"body":{},"webhookUrl":"https://api.bmulti.store/webhook/user/tasks","executionMode":"production"}}]},"versionId":"c8378419-d1fb-4e69-9d05-649b2fabe467","triggerCount":1,"shared":[{"createdAt":"2025-06-09T17:01:51.288Z","updatedAt":"2025-06-09T17:01:51.288Z","role":"workflow:owner","workflowId":"eJFUIBEuFLLIlRzf","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}