pgAndNN/telegram-subscription-bonus.json
{"createdAt":"2025-10-02T19:05:38.697Z","updatedAt":"2025-10-03T19:14:15.701Z","id":"deH0U75JN4im22Np","name":"POST /telegram-subscription-bonus","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"/tasks/telegram-subscription-bonus","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1120,208],"id":"4f4a6005-1b95-48f3-a88b-52c3f14eabc6","name":"Webhook","webhookId":"a66464ce-b41a-4521-96a5-a1e83af0838e"},{"parameters":{"respondWith":"json","responseBody":"={{ $('Complete task (auto)').first().json.result.toJsonString() }}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[976,64],"id":"4818f128-c8fe-4526-8b2c-10ad87fc9082","name":"Respond"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": false,\n  \"message\": \"Пользователь не верефецирован системой\"\n}","options":{"responseCode":401}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-592,432],"id":"4f11693b-895c-4ff5-b053-f461ea937f42","name":"Error 404"},{"parameters":{"content":"     Ошибка 401","height":208,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-656,352],"typeVersion":1,"id":"980a510d-e69b-41b3-8220-237c4c0c6e3a","name":"Sticky Note5"},{"parameters":{"operation":"verify","token":"={{ $json.headers.authorization.split(' ')[1] }}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[-912,208],"id":"d46012d5-250c-4961-b698-bb9e7fe31521","name":"JWT","credentials":{"jwtAuth":{"id":"1zfE1rfIcLyD0iKD","name":"JWT Auth"}},"onError":"continueErrorOutput"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"user_id\": {{ $('JWT').first().json.payload.user_id }},\n  \"task_id\": 4\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-624,80],"id":"4514f845-a6eb-42a7-a59d-4ded06974b3c","name":"SetChecker"},{"parameters":{"workflowId":{"__rl":true,"value":"nu0s5PPlcL6opJXy","mode":"list","cachedResultUrl":"/workflow/nu0s5PPlcL6opJXy","cachedResultName":"1. Check availability"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-464,80],"id":"9fc1b7f4-030a-4b0f-a001-1fc6a4da64ba","name":"Check availability"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"694c9aac-6461-4e3d-bdff-42713884bdb3","leftValue":"={{ $json.result.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,80],"id":"05f16895-11a3-4774-ab21-6734c0cbace7","name":"Available"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.result.toJsonString() }}","options":{"responseCode":403}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-272,432],"id":"e7fdddbd-4d7b-41f3-a11e-87527403f7dc","name":"Error "},{"parameters":{"content":"     Ошибка 403","height":208,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-336,352],"typeVersion":1,"id":"d5ea19ec-1ff9-498c-882a-37223d5234cc","name":"Sticky Note"},{"parameters":{"content":"## Проверка доступности","height":224,"width":528,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-656,16],"typeVersion":1,"id":"0338a922-5c32-44b5-a7b7-e17206f5c696","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"694c9aac-6461-4e3d-bdff-42713884bdb3","leftValue":"={{ $json.result.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[368,64],"id":"a4a20d27-024c-430c-946c-1cad53855922","name":"Available1"},{"parameters":{"content":"## Создание задания","height":224,"width":528,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"81e06a67-8ba7-4725-bdb1-0438db025f16","name":"Sticky Note2"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"user_id\": {{ $('JWT').first().json.payload.user_id }},\n  \"task_id\": 4,\n  \"points\": null\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,64],"id":"f98eb059-c86d-4914-82c3-afc1b56d1b57","name":"SetCreateUT"},{"parameters":{"workflowId":{"__rl":true,"value":"b4OBJxTVVkof1cTG","mode":"list","cachedResultUrl":"/workflow/b4OBJxTVVkof1cTG","cachedResultName":"2. Create user_task"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[192,64],"id":"f4c63c2c-110c-4b6d-b42a-84476a1f9c5e","name":"Create user_task"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.result.toJsonString() }}","options":{"responseCode":500}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[384,432],"id":"affe4713-93b7-4d5f-a5a4-2c795164aa03","name":"Error 1"},{"parameters":{"content":"     Ошибка 500","height":208,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[320,352],"typeVersion":1,"id":"a1356fbd-4ed5-4709-8add-216faf5cd5aa","name":"Sticky Note3"},{"parameters":{"content":"## Выполнение задания","height":224,"width":528,"color":6},"type":"n8n-nodes-base.stickyNote","position":[608,0],"typeVersion":1,"id":"f78ade1e-c519-4b56-a04b-6a2fb7004650","name":"Sticky Note4"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"user_task_id\": {{ $('Create user_task').first().json.result.user_task.id }},\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,64],"id":"a6aee02a-2547-4095-8297-f5c6936c5620","name":"SetComplete"},{"parameters":{"workflowId":{"__rl":true,"value":"gRLogPVTZbdRjTKa","mode":"list","cachedResultUrl":"/workflow/gRLogPVTZbdRjTKa","cachedResultName":"3. Complete task (auto)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[800,64],"id":"1245e390-d828-48ac-ae72-91f6d4984825","name":"Complete task (auto)"}],"connections":{"Webhook":{"main":[[{"node":"JWT","type":"main","index":0}]]},"JWT":{"main":[[{"node":"SetChecker","type":"main","index":0}],[{"node":"Error 404","type":"main","index":0}]]},"SetChecker":{"main":[[{"node":"Check availability","type":"main","index":0}]]},"Check availability":{"main":[[{"node":"Available","type":"main","index":0}]]},"Available":{"main":[[{"node":"SetCreateUT","type":"main","index":0}],[{"node":"Error ","type":"main","index":0}]]},"Available1":{"main":[[{"node":"SetComplete","type":"main","index":0}],[{"node":"Error 1","type":"main","index":0}]]},"SetCreateUT":{"main":[[{"node":"Create user_task","type":"main","index":0}]]},"Create user_task":{"main":[[{"node":"Available1","type":"main","index":0}]]},"SetComplete":{"main":[[{"node":"Complete task (auto)","type":"main","index":0}]]},"Complete task (auto)":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"api.bmulti.store","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36","content-length":"0","accept":"application/json","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9,ru;q=0.8,cs;q=0.7","authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjo3LCJpYXQiOjE3NTk0NDE3NDJ9.5LxVXpXV3OvCVTPyRm1qD0Jj4DZuLsTAIt-PZOte4tM","content-type":"application/json","origin":"http://localhost:3000","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"212.28.89.88","x-forwarded-host":"api.bmulti.store","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"3f1437b3e807","x-real-ip":"212.28.89.88"},"params":{},"query":{},"body":{},"webhookUrl":"https://api.bmulti.store/webhook/tasks/daily-bonus","executionMode":"production"}}]},"versionId":"a9e9ee69-525f-4a03-aa88-3a0ac8f684d7","triggerCount":1,"shared":[{"createdAt":"2025-10-02T19:05:38.697Z","updatedAt":"2025-10-02T19:05:38.697Z","role":"workflow:owner","workflowId":"deH0U75JN4im22Np","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}