pgAndNN/transactions.json
{"createdAt":"2025-10-02T17:13:07.613Z","updatedAt":"2025-10-02T21:51:40.482Z","id":"VxCbQwtgi06zlUsY","name":"GET /user/transactions","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"/user/transactions","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,-16],"id":"b68df2bc-01d0-42f9-946d-2781a0d1db43","name":"GET tasks","webhookId":"30ef256a-42ff-44b9-8837-cf461ba9b62c"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": true,\n  \"transactions\": {{ $('Aggregate').first().json.transactions.first().isNotEmpty() ? $('Aggregate').first().json.transactions.toJsonString() : [].toJsonString()  }}\n}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1008,-32],"id":"3e3e1d1b-e2ee-4395-9a2d-d6f2eeda5b39","name":"Respond"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": false,\n  \"message\": \"Пользователь не верефецирован системой\"\n}","options":{"responseCode":401}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[624,176],"id":"66b62eaa-1029-4406-bebf-fa9d3f2f43ea","name":"Error 404"},{"parameters":{"content":"     Ошибка 401","height":208,"width":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[560,112],"typeVersion":1,"id":"87ad30e9-b636-4b44-b38d-5e0d93d7724d","name":"Sticky Note5"},{"parameters":{"operation":"verify","token":"={{ $json.headers.authorization.split(' ')[1] }}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[448,-16],"id":"d1c63c21-14d8-434a-97c4-84d82bb2aef0","name":"JWT","retryOnFail":false,"credentials":{"jwtAuth":{"id":"1zfE1rfIcLyD0iKD","name":"JWT Auth"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  pt.id,\n  pt.created_at,\n  pt.amount,\n  pt.transaction_type,\n  transaction_type IN ('task_reward', 'add_manager') AS is_positive,\n  CASE \n    WHEN t.id IS NOT NULL THEN json_build_object(\n      'title', t.title,\n      'type', t.system_name,\n      'icon', t.icon_url\n    )\n    ELSE NULL\n  END AS task\nFROM point_transactions AS pt\nLEFT JOIN tasks AS t ON pt.task_id = t.id\nWHERE pt.user_id = $1\nORDER BY pt.created_at DESC","options":{"queryReplacement":"={{ [ $('JWT').first().json.payload.user_id ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[624,-32],"id":"5c63bcdb-8725-4827-a8da-e753a6d2e7d0","name":"Get Transactions","alwaysOutputData":true,"credentials":{"postgres":{"id":"IRbGwCxyepb2OPlB","name":"Postgres"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"transactions","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[816,-32],"id":"222d5f49-9c4a-47b4-b3d6-616fa80a6854","name":"Aggregate"}],"connections":{"GET tasks":{"main":[[{"node":"JWT","type":"main","index":0}]]},"JWT":{"main":[[{"node":"Get Transactions","type":"main","index":0}],[{"node":"Error 404","type":"main","index":0}]]},"Get Transactions":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"GET tasks":[{"json":{"headers":{"host":"api.bmulti.store","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36","accept":"application/json","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-US,en;q=0.9,ru;q=0.8,cs;q=0.7","authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjo3LCJpYXQiOjE3NTk0MzcxMzh9.i_S6rmL8AXWrlUk1VfTlQ9l2jRVR7gap8LSpXoAZK00","content-type":"application/json","if-none-match":"W/\"101-Q8uV7ZAEi4lOdMtI/dKkW/blCbU\"","origin":"http://localhost:3000","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"212.28.89.88","x-forwarded-host":"api.bmulti.store","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"3f1437b3e807","x-real-ip":"212.28.89.88"},"params":{},"query":{},"body":{},"webhookUrl":"https://api.bmulti.store/webhook/user/transactions","executionMode":"production"}}]},"versionId":"ce2128cb-c91e-44d9-b02b-a03c3b1354c6","triggerCount":1,"shared":[{"createdAt":"2025-10-02T17:13:07.613Z","updatedAt":"2025-10-02T17:13:07.613Z","role":"workflow:owner","workflowId":"VxCbQwtgi06zlUsY","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}