pgAndNN/Бекап всех WF.json
{"createdAt":"2025-10-15T14:41:02.001Z","updatedAt":"2025-10-15T14:41:02.001Z","id":"4fjLb7wR0bIXp10V","name":"Бекап всех WF","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[352,-304],"id":"51c49e86-57ca-495e-87f8-1eb96b903feb","name":"When clicking ‘Test workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[496,-304],"id":"8d018267-7a0d-46fe-95a9-d08054c1a041","name":"n8n","credentials":{"n8nApi":{"id":"qx78LSjQ2MkMBiE6","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[640,-304],"id":"f6ae1e5e-1f78-4ead-a2a5-0b87f68531e3","name":"Convert to File"},{"parameters":{"operation":"compress","binaryPropertyName":"={{ Object.keys($binary).join(\",\") }}","fileName":"backup.zip"},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[912,-304],"id":"3a95e73d-c5d9-4f2d-a1f4-2e249b1a15ff","name":"Compression"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{"includeBinaries":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[784,-304],"id":"2b3084a5-b024-4053-9bb9-db64fcc2aaef","name":"Aggregate"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Compression","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"39717c6e-b71b-4b22-8ab3-6f4a66c2cb62","triggerCount":0,"shared":[{"createdAt":"2025-10-15T14:41:02.001Z","updatedAt":"2025-10-15T14:41:02.001Z","role":"workflow:owner","workflowId":"4fjLb7wR0bIXp10V","projectId":"vI2eXglKNLswvn2H"}],"tags":[]}